/web/bundles/
/web/media/*
!/web/media/.gitkeep
/app/bootstrap.php.cache
/app/cache/*
/app/config/parameters.yml
/app/logs/*
!app/cache/.gitkeep
!app/logs/.gitkeep
/build/
/vendor/
/bin/
/.idea/
/.vagrant/
/web/media/*
.DS_Store
._.DS_Store
web/android/
web/app-develop.apk
web/logo.jpg
*~
