<div class="modal inmodal" id="map-modal" tabindex="-1" role="dialog" aria-hidden="true" style="display: none;">
    <div class="modal-dialog modal-lg">
        <div class="modal-content animated fadeIn">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">
                    <span aria-hidden="true">×</span>
                    <span class="sr-only">Закрыть</span>
                </button>
                <div class="row">
                    <div class="col-sm-6">
                        <h3 class="modal-title text-success"><i class="fa fa-map-marker"></i> Карта маршрута</h3>
                    </div>
                    <div id="route-information" class="col-sm-6 hide">
                        <h4>
                            Расстояние: <span id="route-destination"></span>
                        </h4>
                        <h4>
                            Время в пути: <span id="route-time"></span>
                        </h4>
                    </div>
                </div>
            </div>
            <div class="modal-body no-padding" style="height: 500px" id="map">

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal">Закрыть</button>
            </div>
        </div>
    </div>
</div>