<table class="table table-striped">
    <thead>
    <tr>
        <th class="col-md-3">Время</th>
        <th>Статус</th>
    </tr>
    </thead>
    <tbody>
    {% for entry in entries %}
        <tr>
            <td>
                {{ entry.loggedAt | localizeddate('long', 'none', null, null, 'd MMMM в H:mm') }}
            </td>
            <td>
                <span class="badge badge-{{ entry.data.state }}">{{ ('binidini.shipping.state.'~entry.data.state)|trans }}</span>
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>