parameters:
    database_driver: pdo_mysql
    database_host: 127.0.0.1
    database_port: null
    database_name: binidini
    database_user: root
    database_password: root
    mongo_server: mongodb://localhost:27017
    mongo_dbname: binidini
    locale: ru
    secret: HomoHomoniAmicusEst