.text-success {
    color: #1ab394;
}

.text-error {
    color: #ed5565;
}

.text-init {
    color: #ed5565;
}
.text-new {
    color: #1ab394;
}
.text-accepted {
    color: #1ab394;
}
.text-dispatched {
    color: #1ab394;
}
.text-on_way {
    color: #1ab394;
}
.text-delivered {
    color: #1ab394;
}
.text-paid {
    color: #1ab394;
}
.text-completed {
    color: #888888;
}
.text-rejected {
    color: #f8ac59
}
.text-refused {
    color: #f8ac59
}
.text-canceled {
    color: #888888
}
.text-conflict {
    color: #ed5565
}


.label-init,
.badge-init {
    background-color: #ed5565;
    color: #FFFFFF;
}
.label-new,
.badge-new {
    background-color: #1ab394;
    color: #FFFFFF;
}
.label-accepted,
.badge-accepted {
    background-color: #1ab394;
    color: #FFFFFF;
}
.label-dispatched,
.badge-dispatched {
    background-color: #1ab394;
    color: #FFFFFF;
}
.label-on_way,
.badge-on_way {
    background-color: #1ab394;
    color: #FFFFFF;
}
.label-delivered,
.badge-delivered {
    background-color: #1ab394;
    color: #FFFFFF;
}
.label-paid,
.badge-paid {
    background-color: #1ab394;
    color: #FFFFFF;
}
.label-completed,
.badge-completed {
    background-color: #1ab394;
    color: #FFFFFF;
}
.label-rejected,
.badge-rejected {
    background-color: #f8ac59;
    color: #FFFFFF;
}
.label-refused,
.badge-refused {
    background-color: #f8ac59;
    color: #FFFFFF;
}
.label-canceled,
.badge-canceled {
    background-color: #1a7bb9;
    color: #ffffff;
}
.label-conflict,
.badge-conflict {
    background-color: #ed5565;
    color: #ffffff;
}

.btn-well {
    margin-top: 10px;
    padding-bottom: 10px;
}
