.text-success {
    color: #1ab394;
}

.text-blue {
    color: #1c84c6;
}

.text-error {
    color: #ed5565;
}

.text-init {
    color: #ed5565;
}
.text-new {
    color: #1ab394;
}
.text-accepted {
    color: #1ab394;
}
.text-dispatched {
    color: #1ab394;
}
.text-on_way {
    color: #1ab394;
}
.text-delivered {
    color: #1ab394;
}
.text-paid {
    color: #1ab394;
}
.text-agreed {
    color: #1ab394;
}
.text-completed {
    color: #888888;
}
.text-rejected {
    color: #f8ac59
}
.text-auto_rejected {
    color: #f8ac59
}
.text-refused {
    color: #f8ac59
}
.text-canceled {
    color: #888888
}
.text-conflict {
    color: #ed5565
}


.label-init,
.badge-init {
    background-color: #ed5565;
    color: #FFFFFF;
}
.label-new,
.badge-new {
    background-color: #1ab394;
    color: #FFFFFF;
}
.label-accepted,
.badge-accepted {
    background-color: #1ab394;
    color: #FFFFFF;
}
.label-dispatched,
.badge-dispatched {
    background-color: #1ab394;
    color: #FFFFFF;
}
.label-on_way,
.badge-on_way {
    background-color: #1ab394;
    color: #FFFFFF;
}
.label-delivered,
.badge-delivered {
    background-color: #1ab394;
    color: #FFFFFF;
}
.label-paid,
.badge-paid {
    background-color: #1ab394;
    color: #FFFFFF;
}
.label-completed,
.badge-completed {
    background-color: #1ab394;
    color: #FFFFFF;
}
.label-agreed,
.badge-agreed {
    background-color: #1ab394;
    color: #FFFFFF;
}
.label-rejected,
.badge-rejected {
    background-color: #f8ac59;
    color: #FFFFFF;
}
.label-auto_rejected,
.badge-auto_rejected {
    background-color: #f8ac59;
    color: #FFFFFF;
}
.label-refused,
.badge-refused {
    background-color: #f8ac59;
    color: #FFFFFF;
}
.label-canceled,
.badge-canceled {
    background-color: #888888;
    color: #ffffff;
}
.label-conflict,
.badge-conflict {
    background-color: #ed5565;
    color: #ffffff;
}

.btn-well {
    margin-top: 10px;
    padding-bottom: 10px;
}
.btn-file {
    position: relative;
    overflow: hidden;
}
.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}

.thumbnail{
    background-size: cover;
    background-position: center;
}

.preview {
    width: 200px;
    height: 200px;
}
.profile-type label{
    padding-left: 0;
}

.profile-type2 label{
    padding-left: 0;
}

.glyphicon-refresh-animate {
    -animation: spin .7s infinite linear;
    -ms-animation: spin .7s infinite linear;
    -webkit-animation: spinw .7s infinite linear;
    -moz-animation: spinm .7s infinite linear;
}

@keyframes spin {
    from { transform: scale(1) rotate(0deg);}
    to { transform: scale(1) rotate(360deg);}
}

@-webkit-keyframes spinw {
    from { -webkit-transform: rotate(0deg);}
    to { -webkit-transform: rotate(360deg);}
}

@-moz-keyframes spinm {
    from { -moz-transform: rotate(0deg);}
    to { -moz-transform: rotate(360deg);}
}

ul.notes li div.partner {
    opacity: 0.8;
    text-decoration: none;
    color: #ffffff;
    background: #ffffff;
    display: block;
    height: 110px;
    width: 460px;
    padding: 0.3em;
    -moz-box-shadow: 5px 5px 7px #212121;
    -webkit-box-shadow: 5px 5px 7px rgba(33, 33, 33, 0.7);
    box-shadow: 5px 5px 7px rgba(33, 33, 33, 0.7);
    -moz-transition: -moz-transform 0.15s linear;
    -o-transition: -o-transform 0.15s linear;
    -webkit-transition: -webkit-transform 0.15s linear;
}

ul.notes li div.red {
    text-decoration: none;
    color: #333;
    background: #fcc;
    display: block;
    height: 190px;
    width: 200px;
    padding: 1em;
    -moz-box-shadow: 5px 5px 7px #212121;
    -webkit-box-shadow: 5px 5px 7px rgba(33, 33, 33, 0.7);
    box-shadow: 5px 5px 7px rgba(33, 33, 33, 0.7);
    -moz-transition: -moz-transform 0.15s linear;
    -o-transition: -o-transform 0.15s linear;
    -webkit-transition: -webkit-transform 0.15s linear;
}

/* ORDERS */
.order-box {
    background-color: #eeeeee;
    border: 1px solid #cccccc;
    padding: 20px;
    margin-bottom: 20px;
}
.order-box a {
    color: inherit;
}

.payment-icon-big {
    font-size: 60px;
    color: inherit;
}

.navbar-form-custom {
    width: 500px;
}