{% extends "FOSUserBundle::layout.html.twig" %}

{% trans_default_domain 'FOSUserBundle' %}

{% block fos_user_content %}
    <h3>Восстановление пароля</h3>
    <!--p>
        связывает людей, которым надо что-то и куда-то перевезти с водителями, перевозчиками и туристами, которые в любом случае едут в этом направлении.
    </p-->
    {% if invalid_username is defined %}
        <p>{{ 'resetting.request.invalid_username'|trans({'%username%': invalid_username}) }}</p>
    {% endif %}

    <form action="{{ path('binidini_core_reset_password') }}" method="POST" class="m-t" id="reseting_form">

        <div class="form-group input-group " style="color: #676a6c">
            <span class="input-group-addon">+7</span>
            <input type="text" id="username" name="_username" class="form-control" placeholder="Номер телефона"
                   required="required" maxlength="10" pattern=".*\d{10}.*">
            <span class="input-group-addon">10 цифр</span>
        </div>
        <div id="notification">

            <p class="text-danger hide" id="error_text">Ошибка</p>

            <p class="text-info hide" id="info_sms">SMS отправлена</p>
        </div>
        <button type="submit" id="_submit" name="_submit"
                class="btn btn-primary block full-width m-b">Выслать новый пароль
        </button>
    </form>

{% endblock fos_user_content %}
{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript">
        var clicked = false;
        $('#reseting_form').submit(function(){
            if (!clicked){
                clicked = true;
                $('#_submit').hide();
                $('#error_text').addClass('hide');
                loader.show('#notification');
                $.post($(this).attr('action'), {username: $('#username').val()}, function (data) {
                    loader.hide('#notification');
                    $('#info_sms').removeClass('hide');
                    setTimeout(redirectTo(data.redirect), 2000);
                }).fail(function(xhr){
                    loader.hide('#notification');
                    clicked = false;
                    $('#error_text').text(xhr.responseText).removeClass('hide');
                    $('#_submit').show();
                });
            }
            return false;
        });
        function redirectTo(href) {
            document.location.href = href;
        }
    </script>
{% endblock %}