{% extends 'BinidiniWebBundle::layout.html.twig' %}

{% block title %}
    Порядок рассмотрения обращений Пользователей
{% endblock %}

{% block pageheader %}Порядок рассмотрения обращений Пользователей{% endblock %}
{% block breadcrumb %}
    <ol class="breadcrumb">
        <li>
            <a href="{{ path('binidini_rules') }}">Правила</a>
        </li>
        <li class="active">
            Приложение 4
        </li>
    </ol>
{% endblock %}
{% block content %}

<div class="wrapper wrapper-content"><div class="row"><div class="col-sm-12"><div class="ibox float-e-margins"><div class="ibox-content">

    <p class="m-b-25">В Администрацию сайта можно обратиться:</p>
    <ul>
        <li>• в письменном виде (почтовой связью) по адресу, размещенному в рубрике «Контакты»;</li>
        <!--li>• в электронном виде с официального сайта в сети Интернет (посредством online-сервиса «Контакты/Напишите нам»);</li-->
        <li>• в устной форме по специально выделенным номерам телефонов Администрации сайта, размещенным в рубрике
            «Контакты».
        </li>
    </ul>
    <br/>

    <p class="m-b-25">Работа с обращениями граждан и организаций регламентируется:</p>
    <h3>- Федеральным законом от 02 мая 2006 года № 59-ФЗ «О порядке рассмотрения обращений граждан Российской
        Федерации».</h3>
    <br/>
    <p class="m-b-25">При обращении в Администрацию сайта, в соответствии с законодательством Российской Федерации,
        необходимо указать свою фамилию, имя, отчество (последнее - при наличии), почтовый адрес либо адрес электронной
        почты, по которому должен быть направлен ответ либо уведомление о переадресации обращения, а также изложить суть
        обращения. В случае отсутствия указанных обязательных реквизитов обращение может быть оставлено без ответа.</p>
    <p class="m-b-25">Обращения, в которых не указаны предусмотренные законодательством Российской Федерации Фамилия,
        Имя, Отчество (при наличии), а также почтовый адрес (для направления ответа в бумажном виде) либо адрес
        электронной почты (для направления ответа в электронном виде) к рассмотрению не принимаются.</p>

    <h3>Не подлежат рассмотрению (не дается ответ по существу поставленных вопросов):</h3>
    <ul>
        <li>• обращения, не поддающиеся прочтению;</li>
        <li>• обращения, на которые не может быть дан ответ без разглашения сведений, составляющих государственную,
            налоговую или иную охраняемую федеральным законом тайну;
        </li>
        <li>• обращения, в которых содержатся нецензурные либо оскорбительные выражения, угрозы жизни, здоровью и
            имуществу должностного лица, а также членов его семьи;
        </li>
        <li>• обращения, в которых указан неполный или недостоверный почтовый адрес;</li>
        <li>• обращения, в которых для рассмотрения поставленных вопросов требуется наличие заверенных копий документов и
            (или) личной подписи заявителя;
        </li>
        <li>• обращения, в которых текст написан по-русски с использованием латиницы или набран целиком заглавными
            буквами, не разбит на предложения;
        </li>
        <li>• обращения, не содержащие конкретных заявлений, жалоб, предложений.</li>
    </ul>

    <br/>
    <p class="m-b-25">Информация о персональных данных авторов обращений, хранится и обрабатывается с соблюдением требований
        российского законодательства о персональных данных.
    </p>
    <h3>Регистрация обращений:</h3>
    регистрация обращений производится не позднее трех дней с даты поступления в Администрацию сайта.

    <h3>Срок рассмотрения обращения:</h3>
    поступившие обращения рассматриваются в течение 30 дней со дня их регистрации.


</div></div></div></div></div>
{% endblock %}
