{% extends 'BinidiniWebBundle::Frontend/Static/rules_layout.html.twig' %}

{% block content %}
    <h1>Приложение 3 к Договору оферты</h1>

    <h2>Порядок предоставления Услуг Администрацией сайта своим Пользователям</h2>

    <h3>Навигация в Системе Титимити</h3>

    <p class="m-b-25">В Системе Титимити у каждого Пользователя есть Страница пользователя — раздел «Моя страница»,
        а также раздел «Мои настройки», с помощью которого можно обновлять данные на своей странице и менять режимы
        оповещения. </p>

    <p class="m-b-25">Для поиска Заказа, для создания Заявки на выполнение Заказа и создания нового Заказа
        используется раздел «Заказы».
        В данном разделе размещаются все активные (не принятые к исполнению Заказы Пользователей). В случае если по
        Заказу истек срок Прибытия (один из параметров электронной формы Заказа), то данный Заказ пропадает из
        поиска.</p>

    <p class="m-b-25">Для просмотра своих Заказов (на отправку) используется раздел «Мои отправки».</p>

    <p class="m-b-25">Для просмотра своих Заявок (на перевозку) используется раздел «Мои перевозки».</p>

    <p class="m-b-25">Для выполнения операций по Счету, просмотра платежей используется раздел «Мои финансы».</p>

    <h3>Правила составления Заказа (на отправку) Груза</h3>

    <p class="m-b-25">Заказ выполняется через меню Заказы/ Новый заказ.</p>

    <p class="m-b-25">Для создания Заказа Отправитель обязан указать все существенные условия доставки Груза путем
        заполнения всех обязательных (помечены значком *) электронных полей Заказа:</p>
    <ul>
        <li>• Что - наименование Груза</li>
        <li>• Откуда - адрес отправки</li>
        <li>• Куда - адрес назначения</li>
        <li>• Прибытие - крайнее время прибытия (дата + время)</li>
        <li>• Цена - стоимость доставки, в российских рублях. Включает в себя все перечисленные в данном Заказе
            услуги перевозки (доставка, подъем на этаж, оплата проезда и т.п.). Стоимость доставки осуществляется
            вне Системы Титимити.
        </li>
    </ul>
    <br/>

    <p class="m-b-25">Далее желательно указать необязательные параметры Заказа:</p>
    <ul>
        <li>• Гарантия - гарантия оплаты перевозки. Сумма, равная стоимости перевозки, замораживается со Счета
            Отправителя и возвращается после подтверждения оплаты Перевозчиком. Гарантия может не указываться, если
            она осуществляется вне Системы Титимити.
        </li>
        <li>• Страховка - депозит в российских рублях, требуемый от Перевозчика в качестве страховки на случай
            утраты или порчи посылки (Груза). Сумма, равная страховке, замораживается со Счета Перевозчика и
            возвращается после подтверждения Отправителем доставки. Страховка может не устанавливаться, если она не
            требуется или осуществляется вне Cистемы Титимити.
        </li>
        <li>• Вес, кг</li>
        <li>• Размер - длина/ширина/высота, см.</li>
        <li>• Дополнительно - информация, необходимая Перевозчику</li>
    </ul>

    <h3>Правила приема Заявки (на перевозку) Груза</h3>
    <p class="m-b-25">Заявка на исполнение Заказа выполнеятся через меню Заказы/ выбирается интересующий заказ/ Подать
        заявку.</p>
    <p class="m-b-25">Принимая Предложение по выполнению Заказа, Курьер соглашается с заявленной стоимостью выполнения
        Заказа в российских рублях, а также суммой Страховки (в случае её указания Отправителем), которая блокируется со
        Счета Курьера до подтверждения Отправителем доставки Груза.</p>
    <p class="m-b-25">Опубликованная Отправителем стоимость Заказа включает в себя все перечисленные в этом Заказе
        услуги перевозки (доставка, подъем на этаж, оплата проезда и т.п.).</p>
    <p class="m-b-25">Также Курьер имеет возможность, перед нажатием кнопки «Подать заявку», предложить другую стоимость
        доставки и указать какие-либо комментарии для Отправителя (при необходимости).</p>

    <h3>Общее для участников Заказа (Отправителя и Перевозчика)</h3>
    <ul>
        <li>• В случае подтверждения Курьером Заказа (после нажатия кнопки «Поехать»), Заказ приобретает статус
            «Принят». Принятый Заказ отображается на закладке «Мои отправки» и «Мои перевозки» у Отправителя и
            Перевозчика, соответственно.
        </li>
        <li>• Далее у Отправителя и Перевозчика данного Заказа отображаются в Детализации заказа контактные телефоны
            друг друга, не доступные при этом другим Пользователям Сайта. Также между Отправителем и Курьером может
            вестить переписка через Детализацию заказа/Сообщения, которая будет доступна также только данным участникам
            Заказа.
        </li>
        <li>• Курьеру или самому Заказчику необходимо связаться друг с другом по телефону или с помощью направления
            сообщений, обсудить подробные обстоятельства выполнения Заказа, заключить договор на оказание услуг
            перевозки* (при необходимости).
            <br/>
            *Примечание: порядок заключения договора перевозки не регламентируется настоящим Договором
            оферты. Администрация сайта не несет ответственности за любые нарушения условий выполнения договора
            перевозки, заключенного между Пользователями (Отправителем и Перевозчком). См. также Раздел 9
            «Ответственность сторон» Договора оферты.</li>
        <li>• Заказчик может на любом этапе выполнения Заказа его отменить (перевести в статус «отменен») по любым
            причинам, например, в процессе доставки товара выснилось, что он был испорчен, не доставлен в срок (в
            крайнее время прибытия). Курьер при этом выбирает один из вариантов действий: «Потребовать оплату» (статус «спорный»)
            или «Аннулировать» (статус «аннулирован»).
        </li>

        <li>• Спорный Заказ регулируется Администрацией сайта, её менеджерами. Менеджер анализирует историю Заказа,
            общается с обеими сторонами Заказа и принимает решение по возврату цены (стоимости доставки), гарантии и
            страховкии (при их оплате через Систему Титимити) на Счет Пользователя. Общий порядок разрешения споров
            регулируется разделом 10 Договора оферты.
        </li>

        <li>• После выполнения/ отмены Заказа участники (Отправитель, Курьер) могут оставить Отзывы друг о друге
            (Детализация заказа/ Отзывы). Отзыв формирует Рейтинг Пользователя.
        </li>
    </ul>

    <a name="1"></a>

    <h3>Порядок управления Счетом Пользователя </h3>

    <p class="m-b-25">Баланс Счета отображается на Странице пользователя в главном меню (Счет) и в разделе «Моя
        страница».</p>

    <p class="m-b-25">Для управления Cчетом (пополнение счета, просмотр платежей и др. операций, предусмотренных
        Системой Титимити) используется раздел «Мои финансы».</p>

    <h3>Пополнение Счета</h3>

    <p class="m-b-25">Для того, чтобы пополнить счет, нажмите на кнопку «Пополнить», укажите сумму внесения и
        нажмите «Пополнить счет». Далее производится процедура Оплаты с указанием реквизитов банковской карты.
        Если у Вас возникли вопросы по порядку пополнения Счета, мы будем рады ответить на Ваши вопросы по телефону
        +7 (921) 093-43-34 или адресу электронной почты contacts@tytymyty.ru.</p>

    <h3>Оплата</h3>

    <p class="m-b-25">Оплата с помощью банковской карты через АО «АЛЬФА-БАНК». Оплата предоставляется без комиссии.
        Платежи осуществляются перечислением денежных средств с банковских карт VISA и MASTER CARD при наличии
        возможности совершения интернет- платежей, предоставленных Вашим банком, выпустившим банковскую карту.
        О наличии возможности совершения интернет-платежей с использованием банковской карты, Вы можете узнать,
        обратившись в банк.</p>

    <h3>Конфиденциальность</h3>

    <p class="m-b-25">Услуга оплаты через интернет осуществляется в соответствии с Правилами международных платежных
        систем на принципах соблюдения конфиденциальности и безопасности совершения платежа, для чего используются
        самые современные методы проверки, шифрования и передачи данных по закрытым каналам связи.
        Ввод данных банковской карты осуществляется на защищенной платежной странице АО «АЛЬФА-БАНК»,
        предоставляющего услугу.</p>

    <p class="m-b-25">Случаи отказа в совершении платежа:</p>
    <ul>
        <li>1.Банковская карта не предназначена для совершения платежей через интернет, о чем можно узнать,
            осведомившись в Вашем банке.
        </li>
        <li>2.Недостаточно средств для оплаты на банковской карте. Подробнее о наличии средств на банковской карте
            Вы можете узнать, обратившись в банк, выпустивший банковскую карту.
        </li>
        <li>3.Данные банковской карты введены неверно.</li>
        <li>4.Истек срок действия банковской карты. Срок действия карты, как правило, указан на лицевой стороне
            карты (это месяц и год, до которого действительна карта). Подробнее о сроке действия карты Вы можете
            узнать, обратившись в банк, выпустивший банковскую карту.
        </li>
        <li>5.Превышен установленный лимит операций за день. Сумма ежедневного лимита для всех операций определяется
            банком-партнером.
        </li>
    </ul>
    <br/>
    <p class="m-b-25">Для корректного ввода необходимо внимательно и точно, соблюдая последовательность цифр и букв,
        ввести данные так, как они указаны на Вашей карте:</p>
    <ul>
        <li>1.Номер карты, как правило, указан на лицевой стороне банковской карты и состоит из 16-и цифр. Например:
            0123 4567 8901 2345.
        </li>
        <li>2.Владелец карты, как правило, указан на лицевой стороне банковской карты на английском языке заглавными
            буквами. Например, IVANOV IVAN.
        </li>
        <li>3.Срок действия карты, как правило, указан на лицевой стороне банковской карты - месяц и год, до
            которого действительна карта. Срок действия карты вводится цифрами. Например, 12 (вводится в поле
            месяца) и 13 (вводится в поле года), что означает, что карта действительна до декабря 2013 года).
        </li>
        <li>4.CVV2 или CVC2 код карты (как правило, указан на обратной стороне банковской карты и состоит из 3-х
            цифр. Например, 123.
        </li>
    </ul>
    <br/>
    <p class="m-b-25">По вопросам оплаты с помощью банковской карты и иным вопросам, связанным с работой сайта, Вы
        можете обращаться по телефону +7 (921) 093-43-34.</p>

{% endblock %}
