{% extends 'BinidiniWebBundle::layout.html.twig' %}

{% block title %}
    Правила заполнения учетных данных при регистрации в системе Титимити
{% endblock %}

{% block pageheader %}Правила заполнения учетных данных при регистрации{% endblock %}
{% block breadcrumb %}
    <ol class="breadcrumb">
        <li>
            <a href="{{ path('binidini_rules') }}">Правила</a>
        </li>
        <li class="active">
            Приложение 2
        </li>
    </ol>
{% endblock %}
{% block content %}

<div class="wrapper wrapper-content"><div class="row"><div class="col-sm-12"><div class="ibox float-e-margins"><div class="ibox-content">
        <h3>При регистрации на Сайте необходимо:</h3>
        <ul>
            <li>• ознакомиться с условиями Оферты;</li>
            <li>• при Акцепте (согласии) с Договором оферты указать номер телефона (10 цифр), на который будет отправлено смс-сообщение с паролем для входа на Сайт.</li>
        </ul>

        <h3>Для входа на Сайт необходимо:</h3>
        <ul>
            <li>• указать Логин - номер телефона (10 цифр), который был указан при регистрации;</li>
            <li>• указать Пароль, который был направлен в смс-сообщении при регистрации.</li>
        </ul>
        <br/>
        <p class="m-b-25">После первого входа на Сайт рекомендуется изменить пароль, для этого необходимо использовать в главном меню Мои настройки/ Профиль/ Сменить пароль.</p>
        <p class="m-b-25">Для заполнения, обновления данных на Странице пользователя необходимо использовать в меню Мои настройки/ Профиль. Поля для ввода учетных данных являются не обязательными для заполнения.</p>
        <p class="m-b-25">Важно: для повышения доверия других Пользователей сайта рекомендуется заполнять представленные на Странице пользователя данные. При этом такие контактные данные Пользователя как номер телефона и e-mail будут скрыты, но  в случае если конкретный Курьер принял Заказ Отправителя, то в рамках их взаимодействия по этой Заявке данные о номере телефоне друг друга будут им доступны.</p>
        <p class="m-b-25">Работа с оповещениями: используется опция Мои настройки/ Оповещения. В данном разделе выставляются уведомления, которые Пользователь хочет получать посредством sms и/или email как Отправитель или Перевозчик Груза.</p>

</div></div></div></div></div>
{% endblock %}

