{% extends 'BinidiniWebBundle::layout.html.twig' %}

{% block title %}
    Запрещенные к перевозке через Систему Титимити грузы
{% endblock %}

{% block pageheader %}Запрещенные к перевозке через Систему Титимити грузы{% endblock %}
{% block breadcrumb %}
    <ol class="breadcrumb">
        <li>
            <a href="{{ path('binidini_rules') }}">Правила</a>
        </li>
        <li class="active">
            Приложение 1
        </li>
    </ol>
{% endblock %}
{% block content %}

<div class="wrapper wrapper-content"><div class="row"><div class="col-sm-12"><div class="ibox float-e-margins"><div class="ibox-content">

        <p class="m-b-25">Запрещается перевозить:</p>
        <h3>- опасные грузы</h3>
        <p class="m-b-25">К опасным грузам относятся вещества, материалы, изделия, отходы производства и иной деятельности, которые в силу присущих им свойств и особенностей при наличии определенных факторов в процессе транспортирования, при производстве погрузочно-разгрузочных работ и хранении могут нанести вред окружающей природной среде, послужить причиной взрыва, пожара или повреждения транспортных средств, устройств, зданий и сооружений, а также гибели, травмирования, отравления, ожогов или заболевания людей, животных и птиц.</p>
        <p class="m-b-25">Опасные грузы в соответствии с требованиям ГОСТ 19433-88 "Грузы опасные. Классификация и маркировка" и международными требованиями, установленными Типовыми правилами ООН (Рекомендации по перевозке опасных грузов) классификации веществ и изделий, по характеру опасных свойств подразделяются на следующие классы:</p>
        <ul>
            <li>• Класс 1 Взрывчатые вещества и изделия</li>
            <li>• Класс 2 Газы</li>
            <li>• Класс 3 Легковоспламеняющиеся жидкости</li>
            <li>• Класс 4.1 Легковоспламеняющиеся   твердые   вещества, самореактивные вещества и твердые десенсибилизированные   взрывчатые вещества</li>
            <li>• Класс 4.2 Самовозгорающиеся вещества</li>
            <li>• Класс 4.3 Вещества, выделяющие воспламеняющиеся газы при взаимодействии с водой</li>
            <li>• Класс 5.1 Окисляющие вещества</li>
            <li>• Класс 5.2 Органические пероксиды</li>
            <li>• Класс 6.1 Ядовитые (токсичные) вещества</li>
            <li>• Класс 6.2 Инфекционные вещества</li>
            <li>• Класс 7   Радиоактивные материалы</li>
            <li>• Класс 8   Едкие (коррозионные) вещества</li>
            <li>• Класс 9   Прочие опасные вещества и изделия</li>
        </ul>

        <h3>- наркотические средства, психотропные вещества и их прекурсоры</h3>
        <p class="m-b-25">Наркотические средства - вещества синтетического или естественного происхождения, препараты, включенные в Перечень наркотических средств, психотропных веществ и их прекурсоров, подлежащих контролю в Российской Федерации, в соответствии с законодательством Российской Федерации, международными договорами Российской Федерации, в том числе Единой конвенцией о наркотических средствах 1961 года.</p>
        <p class="m-b-25">Психотропные вещества - вещества синтетического или естественного происхождения, препараты, природные материалы, включенные в Перечень наркотических средств, психотропных веществ и их прекурсоров, подлежащих контролю в Российской Федерации, в соответствии с законодательством Российской Федерации, международными договорами Российской Федерации, в том числе Конвенцией о психотропных веществах 1971 года.</p>

        <p class="m-b-25">Прекурсоры наркотических средств и психотропных веществ (прекурсоры) - вещества, часто
            используемые при производстве, изготовлении, переработке наркотических средств и психотропных веществ,
            включенные в Перечень наркотических средств, психотропных веществ и их прекурсоров, подлежащих контролю в
            Российской Федерации, в соответствии с законодательством Российской Федерации, международными договорами
            Российской Федерации, в том числе Конвенцией Организации Объединенных Наций о борьбе против незаконного
            оборота наркотических средств и психотропных веществ 1988 года.</p>

        <p class="m-b-25">Аналоги наркотических средств и психотропных веществ - запрещенные для оборота в Российской
            Федерации вещества синтетического или естественного происхождения, не включенные в Перечень наркотических
            средств, психотропных веществ и их прекурсоров, подлежащих контролю в Российской Федерации, химическая
            структура и свойства которых сходны с химической структурой и со свойствами наркотических средств и
            психотропных веществ, психоактивное действие которых они воспроизводят.</p>

        <p class="m-b-25">Наркосодержащие растения, подлежащие контролю в Российской Федерации.</p>

        <p class="m-b-25">Реестр новых потенциально опасных психоактивных веществ, оборот которых в Российской Федерации
            запрещен. Включаются вещества, вызывающие у человека состояние наркотического или токсического опьянения,
            опасное для его жизни и здоровья, в отношении которых уполномоченными органами государственно власти
            Российской Федерации не установлены санитарно-эпидемиологические требования, либо меры контроля за их
            оборотом.</p>

        <h3>- оружие, боевые припасы, взрывные устройства, взрывчатые, отравляющие, легковоспламеняющиеся и другие
            опасные вещества и предметы</h3>

        <h3>- органы и (или) ткани человека, кровь и ее компоненты</h3>

        <h3>- ядовитые животные и растения</h3>

        <h3>- документы, печатные и аудиовизуальные материалы, размещенные на бумажных и электронных носителях:</h3>
        <ul>
            <li>• cодержащие призывы к осуществлению экстремистской и террористической деятельности или публичное
                оправдание терроризма;
            </li>
            <li>• порнографического характера;</li>
            <li>• направленные на разжигание религиозной/межнациональной розни, пропаганду нацистской атрибутики или
                символики либо атрибутики или символики, сходных с нацистской атрибутикой или символикой до степени
                смешения;
                содержащие иную информацию, хранение/распространение которой преследуется согласно уголовному и/или
                административному законодательству Российской Федерации.
            </li>
        </ul>
        <h3>- культурные ценности</h3>

        <h3>- драгоценные металлы и камни в любом виде и состоянии, природные алмазы, за исключением ювелирных изделий,
            сопровождаемых товаросопроводительными документами (товарный/кассовый чек, товарная/товарно-транспортная
            накладная)</h3>

        <h3>- отходы и лом черных и цветных металлов</h3>

        <h3>- руды и концентраты драгоценных металлов и сырьевых товаров, содержащих драгоценные металлы</h3>

        <h3>- алкогольную продукцию, этиловый спирт, пиво и любые виды табачных изделий допускается отправлять,
            используя услуги курьерской доставки, только в целях личного употребления (то есть Отправитель не вправе
            использовать Систему «Титимити» для перевозки Алкогольной продукции и табачных изделий покупателям, если их
            реализация является видом предпринимательской деятельности Отправителя)</h3>

        <h3>- иные, ограниченные в обороте, запрещенные к перевозке грузы как на территории Российской Федерации, так и
            за её пределами в соответствии с законодательством Российской Федерации, международными договорами
            Российской Федерации, а также законодательством страны, на территорию, с территории или через территорию
            которой осуществляется перевозка.</h3>

</div></div></div></div></div>
{% endblock %}
