{% extends 'BinidiniWebBundle::layout.html.twig' %}

{% block title %}
    Как работает сервис Титимити - Вопросы и ответы
{% endblock %}

{% block pageheader %}Вопросы и ответы{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-lg-12">
            <div class="wrapper wrapper-content animated fadeInUp">
                <div class="faq-item">
                    <div class="row">
                        <div class="col-md-7">
                            <a data-toggle="collapse" href="#faq0" class="faq-question collapsed" aria-expanded="false" >Почему Титимити?</a>
                        </div>
                        <div class="col-md-3">
                            <span class="small font-bold">О сервисе Титимити</span>
                            <div class="tag-list">
                                <span class="tag-item">Титимити</span>
                                <span class="tag-item">народная доставка</span>
                            </div>
                        </div>
                        <div class="col-md-2 text-right">

                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12">
                            <div id="faq0" class="panel-collapse faq-answer collapse" aria-expanded="false" style="height: 32px;">

                                <img src="/bundles/binidiniweb/img/ru/доставка.jpg" alt="Доставка" align="right" height="250">
                                <p>
                                    Поскольку мы путешествуем и пользуемся телефонами гораздо чаще, чем раньше, то и возможности, открывающиеся для нас становятся просто потрясающими. С помощью приложения отправить другу вещь, сидя при этом в любимой кофейне? Перестать беспокоиться, за какое время дойдет посылка, если вы воспользуетесь почтой? Забыть, что такое дорогая экспресс-доставка и отправить посылку с человеком, которому по пути? Еще вчера, если курьером не являлся ваш друг или знакомый, такое казалось просто невероятным. Сегодня это реальность.
                                </p>

                                <p>
                                    Вам  больше не придется стоять в бесконечных очередях на отправку или отдавать последние деньги. Доставка посылок перестает быть головной болью и становится развлечением.
                                </p>

                                <p>
                                    Титимити это нечто большее, чем просто технологии. В первую очередь  это люди. Мы  верим, что люди должны помогать друг другу и не понаслышке знаем, что такое необходимость в срочной доставке. Поэтому мы позаботились о том, чтобы вы могли не только доставить посылку в кратчайшие сроки, но и заработать по пути. Вам просто нужно выбрать интересующую посылку и выступить в роли курьера. Это отличный способ сэкономить на путешествии или получить дополнительный заработок. А возможно и новых друзей.
                                </p>

                                <p>
                                    Доставка с Титимити не просто удобнее, она надежна. Мы знаем, что безопасность превыше всего, поэтому создали функцию финансовой гарантии. Мы также делаем все, чтобы предоставить возможность полностью контролировать процесс доставки. Смс, email и пуш-сообщения c точной информацией о перемещении заказа позволяют отслеживать посылку, где бы вы ни находились. Еще одна особенность сервиса в том, что стоимость доставки вы назначаете самостоятельно. Наконец, специально разработанная система рейтинга курьеров помогает вам выбирать самых лучших.
                                </p>
                                <p>
                                    Самое время начать пользоваться Титимити и убедиться, что это работает. Абсолютно бесплатно.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>




                <div class="faq-item">
                    <div class="row">
                        <div class="col-md-7">
                            <a data-toggle="collapse" href="#faq1" class="faq-question collapsed" aria-expanded="false" >Как отправить что-либо ?</a>
                        </div>
                        <div class="col-md-3">
                            <span class="small font-bold">Отправляйте быстро и дешево!</span>
                            <div class="tag-list">
                                <span class="tag-item">Отправителям</span>
                                <span class="tag-item">Интернет магазинам</span>
                                <span class="tag-item">Частным лицам</span>
                            </div>
                        </div>
                        <div class="col-md-2 text-right">

                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12">
                            <div id="faq1" class="panel-collapse faq-answer collapse" aria-expanded="false" style="height: 32px;">
                                
                                <h3>Создание заказа</h3>
                                <p>
                                    На странице <strong>Мои отправки</strong> или <strong>Заказы</strong> нажмите кнопку <a href="{{ path('binidini_core_shipping_new') }}" class="btn btn-primary btn-sm btn">Новый заказ</a>.
                                </p>
                                <p>
                                    Заполните форму заказа. Укажите информацию о месте отправления и доставки груза, стоимость перевозки и крайнее время доставки заказа.
                                    При необходимости добавьте информацию о размере и весе заказа, а также любую другую информацию важную для перевозчика.
                                    Чем более полную информацию вы предоставите в задании, тем быстрее найдется перевозчик для вашего груза!
                                </p>
                                <h3>Установите страховку</h3>
                                <p>
                                    Вы можете установить страхование вашего заказа от невыполнения или порчи груза. Вы сами устанавливаете ставку страхования.
                                    Сумма страхования будет заморожена на счете перевозчика и зачислена на ваш счет в случае, если исполнитель окажется недобросовестным.
                                    Имейте ввиду, что на ваш заказ смогут откликнуться только курьеры, которые внесли депозит банковской картой. Данная опция не обязательна.
                                </p>
                                <h3>Укажите, что оплата гарантирована</h3>
                                <p>
                                    Дайте знать курьерам, что вы добросовестный отправитель. Для этого внесите депозит в размере стоимости отправки и выберите опцию <strong>Гарантия</strong>.
                                    Сумма стоимости перевозки будет заблокирована на вашем счете, пока заказ не будет выполнен. После расчета с перевозчиком гарантия возвращается на счет
                                    отправителя. Данная опция не обязательна. Возможно, вы используете предоплату, оплату по доставке в пункте назначения или другой вариант.
                                    Укажите метод оплаты в деталях заказа или договоритесь непосредственно с перевозчиком.
                                </p>
                                <h3>Предложите друзьям заработать</h3>

                                <p>
                                    Как только задание создано, перевозчики, находящиеся поблизости от вашего маршрута, получат уведомление.
                                    Не ждите, пока они заметят ваше задание, поделитесь Вашим заказом со своими друзьями в Вконтакте, Facebook и Twitter.
                                </p>
                                <h3>Принимайте заявки на исполнение</h3>
                                <p>
                                    Заказ опубликован в системе и все активные перевозчики видят его и могут направить вам заявку на исполнение.
                                    Чем лучше вы описали ваш заказ, тем больше заявок на исполнение вы получите.
                                </p>
                                <h3>Обсудите подробности</h3>
                                <p>
                                    С каждым перевозчиком вы можете обсудить подробности выполнения вашего заказа, время и условия доставки, особенности груза, оплату и любые другие вопросы, используя сообщения в нашей системе.
                                </p>
                                <h3>Договоритесь о цене</h3>
                                <p>
                                    Вы устанавливаете свою ставку за выполнение заказа, перевозчик может с ней согласиться или предложить свой вариант.
                                    Договаривайтесь о цене, либо ожидайте, пока на ваше задание найдется исполнитель, который согласится с вашей ставкой. Выбор за вами!
                                </p>
                                <h3>Оплата выполнения</h3>
                                <p>
                                    Все финансовые расчеты между отправителями и перевозчиками ведутся без участия нашей системы. Вы сами выбираете способ и форму оплаты.
                                    Переведите заказ в статус <strong>Оплачен</strong> после расчета с перевозчиком.
                                </p>
                                <h3>Оцените выполненную работу</h3>
                                <p>
                                    Остались довольны выполненной работой? Поставьте оценку перевозчику, это поможет ему получать больше заказов на доставку. В свою очередь перевозчик может оценить вас как отправителя. Цените труд людей, которые помогают вам!
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="faq-item">
                    <div class="row">
                        <div class="col-md-7">
                            <a data-toggle="collapse" href="#faq2" class="faq-question collapsed" aria-expanded="false">Как получить заказ ?</a>
                        </div>
                        <div class="col-md-3">
                            <span class="small font-bold">Зарабатывайте по пути!</span>
                            <div class="tag-list">
                                <span class="tag-item">Перевозчикам</span>
                                <span class="tag-item">Курьерам</span>
                                <span class="tag-item">Попутчикам</span>
                            </div>
                        </div>
                        <div class="col-md-2 text-right">

                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12">
                            <div id="faq2" class="panel-collapse faq-answer collapse" aria-expanded="false" style="height: 32px;">

                                <h3>Поиск заказов</h3>
                                <p>
                                    На странице <strong>Заказы</strong> Вы получаете доступ к списку всех заказов в системе.
                                    Система сама оценит вашу геолокацию и предложит самые удобные для вас заказы.
                                    Также вы можете самостоятельно искать заказы по адресу, чтобы находить задания в соответствии с вашими планами, временем и возможностями.
                                </p>

                                <h3>Заявка отправителю</h3>
                                <p>
                                    Выберете интересующий вас заказ и нажмите «Принять».
                                    Ваша заявка на выполнение поступит отправителю. Обратите внимание на условия выполнения задания и сумму страховки.
                                    Для выполнения ответственных заданий защищенных страховой суммы вам необходимо иметь на счету достаточно средств.
                                </p>

                                <h3>Торгуйтесь!</h3>
                                <p>
                                    С помощью сообщений вы можете выяснить все подробности доставки и повлиять на цену.
                                    Если заявок от перевозчиков много – назначьте более выгодную цену на перевозку и отправитель выберет именно вас!
                                    Также вы можете назначить свою цену, изменив ее и в большую сторону.
                                </p>

                                <h3>По рукам!</h3>
                                <p>
                                    После подтверждения вашей заявки отправителем приступайте к выполнению задания и начинайте зарабатывать!
                                </p>

                                <h3>Оплата выполнения</h3>
                                <p>
                                    Все финансовые расчеты между отправителями и перевозчиками ведутся без участия нашей системы. Вы сами выбираете способ и форму оплаты.
                                </p>

                                <h3>Оцените отправителя</h3>
                                <p>
                                    Вам было приятно работать с отправителем? Поставьте ему оценку, это поможет другим перевозчикам узнать о его благонадежности. В свою очередь отправитель может оценить вас как перевозчика и повлиять на ваш рейтинг в системе.
                                </p>
                                <h3>Зарабатывайте деньги и репутацию.</h3>
                                <p>
                                    Система рейтингов Титимити позволяет фиксировать все выполненные вами заказы, а также оценки вашей работы отправителями и даже их комментарии в ваш адрес.
                                    Будьте надежным перевозчиком, выполняйте работу качественно и в срок, повышайте свой рейтинг и получайте еще больше заказов!
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="faq-item">
                    <div class="row">
                        <div class="col-md-7">
                            <a data-toggle="collapse" href="#faq3" class="faq-question collapsed" aria-expanded="false">Что такое страховка ?</a>

                        </div>
                        <div class="col-md-3">
                            <span class="small font-bold">Страховка от порчи и утраты</span>
                            <div class="tag-list">
                                <span class="tag-item">Страховка заказа</span>
                                <span class="tag-item">Безопасность отправки</span>

                            </div>
                        </div>
                        <div class="col-md-2 text-right">

                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12">
                            <div id="faq3" class="panel-collapse faq-answer collapse" aria-expanded="false" style="height: 32px;">
                                <p>Благодаря специально созданной системе, вы можете бесплатно застраховать свою посылку.</p>
                                <p>Сумму страхования определяете вы сами, для этого нужно просто указать ее в заявке. Для того, чтобы принять  заказ, требующий страховку, курьер пополняет  свой  счет в соответствии с суммой страхования. Таким образом, вы можете компенсировать стоимость посылки в случае ее потери или порчи.</p>
                                <p>При возникновении спорных ситуаций, наш специалист свяжется с вами, чтобы оказать помощь. Титимити оставляет за собой  право переводить средства со счета на счет, компенсируя тем самым убытки потерпевшей стороны.</p>
                                <p>Обратите внимание, что возврат денег производится на карты, с которых осуществлялось пополнение счета. Страховой счет не предназначен для оплаты заказов.</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="faq-item">
                    <div class="row">
                        <div class="col-md-7">
                            <a data-toggle="collapse" href="#faq4" class="faq-question">Что такое гарантия ?</a>
                        </div>
                        <div class="col-md-3">
                            <span class="small font-bold">Гарантия оплаты перевозки</span>
                            <div class="tag-list">
                                <span class="tag-item">Гарантия оплаты</span>
                            </div>
                        </div>
                        <div class="col-md-2 text-right">

                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12">
                            <div id="faq4" class="panel-collapse collapse faq-answer">
                                <p>Благодаря специально созданной системе, вы можете получить гарантию того, что ваша работа будет оплачена.</p>
                                <p>Сумма гарантии равна сумме оплаты перевозки, назначенной отправителем. Для того, чтобы задействовать данную функцию, отправителю необходимо внести  денежные средства на свой счет и отразить  это в заявке. При совершении сделки данная сумма будет заморожена на счете отправителя и возвращена только  по завершению успешной доставки. Таким образом, вы можете повысить уровень доверия курьера, если вы намерены оплатить услуги  с задержкой или только  по адресу прибытия.</p>
                                <p>При возникновении спорных ситуаций, наш специалист свяжется с вами, чтобы оказать помощь. В таком случае, заказ приобретает статус «спорный». ТитиМити оставляет за собой  право переводить средства со счета на счет, компенсируя тем самым убытки потерпевшей стороны.</p>
                                <p>Обратите внимание, что возврат денег производится на карты, с которых осуществлялось пополнение счета. Гарантийный счет  не предназначен для оплаты заказов.</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="faq-item">
                    <div class="row">
                        <div class="col-md-7">
                            <a data-toggle="collapse" href="#faq5" class="faq-question">Как оплатить доставку ?</a>

                        </div>
                        <div class="col-md-3">
                            <span class="small font-bold">Оплата доставки</span>
                            <div class="tag-list">
                                <span class="tag-item">Способы оплаты</span>
                                <span class="tag-item">Варианты расчета</span>
                            </div>
                        </div>
                        <div class="col-md-2 text-right">

                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12">
                            <div id="faq5" class="panel-collapse collapse faq-answer">
                                <p>Следует помнить, что оплата вашего заказа осуществляется вне системы Титимити. Отправитель посылки и курьер, принявший заказ, самостоятельно оговаривают условия доставки и оплаты, а затем строго следуют оговоренным условиям. Отправитель обязуется указать способ оплаты в своем заказе заранее.</p>
                                <p>Оплатить перевозку своей посылки вы можете несколькими удобными для вас способами:</p>
                                <ul>
                                    <li>Самый знакомый и проверенный способ – <b>оплата наличными</b>. Вам остается только договориться с исполнителем заказа, когда будет произведена оплата, заранее или по прибытии курьера в указанное место.</li>
                                    <li>Удобный способ, позволяющий совершить оплату мгновенно – <b>оплата электронными деньгами</b>. Обратите внимание, что каждый отдельный сервис  электронных кошельков берет свою комиссию.</li>
                                    <li>Оплатить доставку также можно с помощью <b>перевода денег с одной банковской карты на другую</b>. Вы можете использовать карты MasterCard®, Maestro® или Visa, выпущенные любым российским банком. Для осуществления перевода вам необходимо знать номер карты получателя. Пожалуйста, уточняйте размер комиссии, взимаемой с вас, на сайтах банков.</li>
                                    <li>Учитывая ритм больших городов, мы предлагаем вам быстрый вариант оплаты посылки – <b>оплата на мобильный телефон</b>.</li>
                                </ul>
                                <p>Обязательно указывайте, на каком этапе ожидается оплата:</p>
                                <ul>
                                    <li>Работая по <b>предоплате</b>, сумма за доставку выдается во время передачи заказа. </li>
                                    <li>Если Вы выбрали <b>оплату с задержкой</b>, то отправитель обязуется оплатить доставку в месте выдачи заказа, но только после передачи посылки получателю. </li>
                                    <li>Выбирая <b>оплату на месте</b>, деньги за доставку будут отданы курьеру по адресу прибытия.</li>
                                    <li> В случае <b>оплаты заказа на месте</b> деньги за посылку передаются курьеру. Последний вариант очень удобен для интернет-магазинов.
                                        Курьер должен передать деньги за заказ за вычетом оплаты доставки отправителю.</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="faq-item">
                    <div class="row">
                        <div class="col-md-7">
                            <a data-toggle="collapse" href="#faq6" class="faq-question">Для чего нужен счет ?</a>

                        </div>
                        <div class="col-md-3">
                            <span class="small font-bold">Счет не используется для оплаты перевозки</span>
                            <div class="tag-list">
                                <span class="tag-item">Страховка</span>
                                <span class="tag-item">Гарантия</span>
                                <span class="tag-item">Возврат на кату</span>
                            </div>
                        </div>
                        <div class="col-md-2 text-right">

                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12">
                            <div id="faq6" class="panel-collapse collapse faq-answer">

                                <ul>
                                    <li>
                                        Счет <strong>не используется</strong> для оплаты заказов. Способ и метод оплаты отправитель и перевозчик обговаривают
                                        индивидуально и осуществляют вне системы Титимити.
                                    </li>
                                    <li>Отправитель пополняет счет, чтобы затем гарантировать оплату заказов.</li>
                                    <li>Перевозчик пополняет счет, чтобы принимать заказы, требующих страховку.</li>
                                    <li>В случае спорных ситуаций, конфликт-менеджер может переводит деньги со счета на счет на счет.</li>
                                    <li>На сегодняшний день, мы возвращаем деньги только на карту, с которой было пополнение.</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="faq-item">
                    <div class="row">
                        <div class="col-md-7">
                            <a data-toggle="collapse" href="#faq8" class="faq-question">Как выбрать отправителя ?</a>

                        </div>
                        <div class="col-md-3">
                            <span class="small font-bold">Ответственный отправитель</span>
                            <div class="tag-list">
                                <span class="tag-item">Предоплата</span>
                                <span class="tag-item">Гарантия</span>
                                <span class="tag-item">Старый партнер</span>
                            </div>
                        </div>
                        <div class="col-md-2 text-right">

                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12">
                            <div id="faq8" class="panel-collapse collapse faq-answer">
                                <ul>
                                    <li>Найдите интересующий вас заказ.</li>
                                    <li>Проверьте есть ли гарантия оплаты.</li>
                                    <li>Посмотрите профиль отправителя и его рейтинг</li>
                                    <li>Уточните, способ расчет: предоплата, оплата по приезду, оплата на следуюший день или как-то еще.</li>
                                    <li>Уточните метод оплаты: наличные, перевод на карту, перевод на телефон, оплата электронными деньгами</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="faq-item">
                    <div class="row">
                        <div class="col-md-7">
                            <a data-toggle="collapse" href="#faq9" class="faq-question">Как выбрать перевозчика ?</a>

                        </div>
                        <div class="col-md-3">
                            <span class="small font-bold">Надежный перевозчик</span>
                            <div class="tag-list">
                                <span class="tag-item">Страховка</span>
                                <span class="tag-item">Система рейтингов</span>
                            </div>
                        </div>
                        <div class="col-md-2 text-right">

                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12">
                            <div id="faq9" class="panel-collapse collapse faq-answer">
                                <ul>
                                    <li>Посмотрите профиль перевозчика и его рейтинг</li>
                                    <li>Если есть альтернатива, выбирайте проверенных перевозчиков</li>
                                    <li>Пользуйтесь страховкой Титимити</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}

    <script type="text/javascript">
        $(location.hash).collapse('show');
    </script>
{% endblock %}