{% extends 'BinidiniWebBundle::layout.html.twig' %}

{% block title %}
    Партнеры Титимити
{% endblock %}
{% block breadcrumb %}
    <ol class="breadcrumb">
        <li>
            Хотите красиво смотреться на этой странице?
        </li>
        <li class="active">
            pr<b>@</b>tytymyty.ru
        </li>
    </ol>
{% endblock %}

{% block pageheader %}Партнеры Титимити{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-lg-12">
            <div class="wrapper wrapper-content animated fadeInUp">

                <ul class="notes">
                    <li>
                        <a href="http://video-sfera.ru/" title="Видео-сфера" target="_new">
                            <div class="partner" style="background-color: #000">
                                <img src="/bundles/binidiniweb/img/partners/video-sfera.png" width="450" alt="Видео-сфера">
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="http://delhun.ru/" title="Delivery Hunters" target="_new">
                            <div class="partner">
                                <img src="/bundles/binidiniweb/img/partners/delhhun.png" height="100" alt="Delivery Hunters">
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="http://www.viktis.ru" title="Виктис" target="_new">
                            <div class="partner">
                                <img src="/bundles/binidiniweb/img/partners/viktis.jpg" height="100" alt="Виктис">
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="http://www.tudatuda.ru" title="Тудатуда" target="_new">
                            <div class="partner">
                                <img src="/bundles/binidiniweb/img/partners/tudatuda.png" height="100" alt="Тудтуда">
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="http://www.ktovputi.ru" title="ВПути" target="_new">
                            <div class="partner">
                                <img src="/bundles/binidiniweb/img/partners/ktovputi.jpg" alt="ВПути">
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="http://automotonews.ru" title="Automotonews.ru" target="_new">
                            <div class="partner">
                                <br/><br/>
                                <img class="center-block" src="/bundles/binidiniweb/img/partners/automotonews.png" alt="Automotonews.ru">
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="http://symfony.spb.ru" title="Symfony.Spb.Ru" target="_new">
                            <div class="partner">
                                <img class="center-block" src="/bundles/binidiniweb/img/partners/symfonyspb.jpg" alt="Symfony.Spb.Ru">
                            </div>
                        </a>
                    </li>
                </ul>

            </div>
        </div>
    </div>
{% endblock %}