{% extends 'BinidiniWebBundle::layout.html.twig' %}

{% block title %}
    Партнеры Титимити
{% endblock %}

{% block pageheader %}Партнеры Титимити{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-lg-12">
            <div class="wrapper wrapper-content animated fadeInUp">
                <ul class="notes">
                    <li>
                        <a href="http://www.tudatuda.ru" title="Тудатуда" target="_new">
                            <div class="partner">
                                <img src="/bundles/binidiniweb/img/partners/tudatuda.png" height="100" alt="Тудтуда">
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="http://www.ktovputi.ru" title="ВПути" target="_new">
                            <div class="partner">
                                <img src="/bundles/binidiniweb/img/partners/ktovputi.jpg" alt="ВПути">
                            </div>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
{% endblock %}