<!DOCTYPE html>
<html lang="en"><head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta charset="UTF-8">
    <meta name="description" content="Титимити — это p2p сервис доставки, а также мощная технология, объединяющая отправителей и перевозчиков в единую систему с выгодой для всех.">
    <meta name="viewport" content="width=device-width, initial-scale=1, minimal-ui">
    <title>Правила — то, что пишут мелким шрифтом.</title>
    <link href="{{ asset('bundles/binidiniweb/css/static_fonts.css') }}" rel="stylesheet">
    <link href="{{ asset('bundles/binidiniweb/css/static.css') }}" rel="stylesheet">
</head>
<body>
<div class="wrapper">
    <div class="header">
        <a href="{{ path('binidini_rules') }}">Правила Титимити</a>
    </div>
    <div class="content">

        {% block content %}{% endblock %}

    </div>
</div>

<div class="footer wrapper">
    <div class="footer-wrapper">
        <div class="desktop-footer">

            <div class="address address-russia">
                <div>Санкт-Петербург,</div>
                <div>ул. Благодатная,</div>
                <div>д. 69, корп. 1, литера А</div>
                <div>+7 (921) 093-43-34</div>
            </div>

            <div class="copyright">Copyright © 2014 <a href="{{ path('binidini_home') }}" >tytymyty.ru</a></div>
        </div>
        <div class="mobile-footer">
            <div class="info-1">
                <div class="address address-swiss">
                    <div>Санкт-Петербург,</div>
                    <div>ул. Благодатная,</div>
                    <div>д. 69, корп. 1, литера А</div>
                    <div>+7 (921) 093-43-34</div>
                </div>

            </div>
        </div>
    </div>
</div>


</body></html>
