{% extends 'BinidiniWebBundle::layout.html.twig' %}

{% block title %}
        Договор оферты Титимити
{% endblock %}

{% block pageheader %}Договор оферты{% endblock %}

{% block content %}

<div class="wrapper wrapper-content"><div class="row"><div class="col-sm-12"><div class="ibox float-e-margins"><div class="ibox-content">
        <a name="1"></a>
        <h2>1.Общие положения.</h2>
        <a name="1.1"></a>
        <p class="m-b-25"><b>1.1. </b>В соответствии со статьей 437 Гражданского кодекса Российской Федерации настоящая оферта, адресованная неопределенному кругу лиц (юридическому или физическому, в том числе индивидуальному предпринимателю) (именуемое далее по тексту «Пользователь») представляет собой официальное предложение Общества с ограниченной ответственностью «Рудив» (именуемое далее по тексту Администрация сайта) заключить договор по предоставлению информационных услуг последним на условиях настоящей оферты (именуемое далее по тексту «Договор»).</p>
        <a name="1.2"></a>
        <p class="m-b-25"><b>1.2. </b>В соответствии со статьей 438  Гражданского кодекса Российской Федерации полным и безоговорочным акцептом настоящей оферты является осуществлением  Пользователем действий, определенных в разделе 4 настоящего Договора.</p>
        <a name="1.3"></a>
        <p class="m-b-25"><b>1.3. </b>Акцепт оферты означает, что Пользователь согласен со всеми положениями настоящего предложения без каких-либо изъятий или ограничений, и равносилен заключению договора с Администрацией сайта на оказание последним информационных услуг на условиях присоединения в порядке статьи 428 Гражданского кодекса Российской Федерации.</p>
        <a name="1.4"></a>
        <p class="m-b-25"><b>1.4. </b>Настоящий Договор разработан в соответствии с требованиями законодательства Российской Федерации и направлен на установление взаимоотношений между Администрацией сайта и Пользователем, определение их основных прав, обязанностей и ответственности.</p>

        <a name="2"></a>
        <h2>2. Термины и определения.</h2>

        <a name="2.1"></a>
        <p class="m-b-25"><b>2.1. Администрация сайта, Администрация</b> — Общество с ограниченной ответственностью «Рудив», Россия, 196105, г. Санкт-Петербург, ул. Благодатная, дом 69, корпус 1, литер А, помещение 2/3, ОГРН 1157847148326, ИНН 7810349272, КПП 781001001.</p>
        <a name="2.2"></a>
        <p class="m-b-25"><b>2.2. Баланс счета, баланс</b> - сумма безналичных денежных средств Пользователя, доступная в Системе Титимити для обеспечения исполнения Заказов (на отправку), Заявок (на перевозку) и других Услуг. Баланс отражает денежные средства, внесенные Пользователем на Счет в Системе с учетом заблокированных средств для оплаты Гарантии или Страховки, указанных при составлении Заказа (на отправку) или других Услуг.</p>
        <a name="2.3"></a>
        <p class="m-b-25"><b>2.3. Груз</b> — предмет доставки, не запрещенный к перевозке в соответствии с Приложением 1 к настоящему Договору.</p>
        <a name="2.4"></a>
        <p class="m-b-25"><b>2.4. Заказ (на отправку)</b> — совокупность параметров по перевозке Груза (наименование, дата доставки, маршрут, стоимость перевозки и др.), заполняемых Отправителем в Личном кабинете.</p>
        <a name="2.5"></a>
        <p class="m-b-25"><b>2.5. Заявка (на перевозку)</b> — совокупность параметров по исполнению перевозки Груза (номер заказа, стоимость гарантии и др.), заполняемых Перевозчиком в Личном кабинете.</p>
        <a name="2.6"></a>
        <p class="m-b-25"><b>2.6. Клон</b> — Пользователь, который зарегистрировался на Сайте более одного раза под другим или таким же названием. Администрация определяет Клона по имеющейся у него технической и другой информации, свидетельствующей о том, что одно и то же лицо выступает на Сайте от лица разных Пользователей.
            <a name="2.7"></a>
        <p class="m-b-25"><b>2.7. Личный кабинет</b> — совокупность защищенных страниц на Cайте, создаваемых при регистрации Пользователя, обладающая собственной структурой, определенным набором функций и сфер персонализированного применения. При помощи Личного кабинета Пользователь управляет доступными Услугами и собственной информацией, размещаемой на Сайте. Доступ к кабинету осуществляется Пользователем посредством ввода своих Учетных данных.</p>
        <a name="2.8"></a>
        <p class="m-b-25"><b>2.8. Модерация</b> — просмотр администратором размещаемой Пользователем на Сайте (или планируемой к размещению - Премодерация) информации на предмет ее соответствия положениям настоящего Договора, а также исправление или удаление информации с Сайта. Модерация не является обязанностью Администрации Сайта.</p>
        <a name="2.9"></a>
        <p class="m-b-25"><b>2.9. Отправитель</b> — Пользователь, нуждающий в услугах Системы для поиска исполнителя по доставке Груза (инициатор Заказа на отправку).</p>
        <a name="2.10"></a>
        <p class="m-b-25"><b>2.10. Перевозчик, Курьер</b> — Пользователь, способный оказывать Услуги по доставке  Груза (инициатор Заявки на перевозку).</p>
        <a name="2.11"></a>
        <p class="m-b-25"><b>2.11. Пользователь</b> – посетитель Сайта, прошедший процедуру регистрации на Сайте, имеющий свои личные страницы (Личный кабинет, Страница пользователя), размещенные в базе данных на Сайте. Пользователем может быть физическое лицо (дееспособное), индивидуальный предприниматель непосредственно, либо индивидуальный предприниматель в лице его работников и юридическое лицо в лице его сотрудников.</p>
        <a name="2.12"></a>
        <p class="m-b-25"><b>2.12. Рейтинг</b> — общая оценка Пользователя, выставляемая другими Пользователями по результатам работы  в Системе Титимити. Оценка помогает другим Пользователям в выборе.
            <a name="2.13"></a>
        <p class="m-b-25"><b>2.13. Сайт</b> – результат интеллектуальной деятельности, представляющий собой составное произведение, расположенное в информационно-телекоммуникационной сети под определенным сетевым адресом и включающее в себя программы для ЭВМ, обеспечивающие его функционирование, графическое решение (дизайн), контент (текстовую информацию), размещенный на нем, а также иные результаты интеллектуальной деятельности, в частности фотографические изображения, видеозаписи и др. Под сайтом в тексте настоящего Договора понимается Сайт, расположенный в сети Интернет под доменным именем (адресом) – www.tytymyty.ru/.</p>
        <a name="2.14"></a>
        <p class="m-b-25"><b>2.14. Система Титимити, Система</b>  — принадлежащая Администрации сайта совокупность интегрированных программно-аппаратных средств, технологических систем и программного обеспечения, содержащая необходимые функциональные подсистемы, обеспечивающие Акцепт Оферты и взаимодействие Сторон при оказании Услуг Пользователям.</p>
        <a name="2.15"></a>
        <p class="m-b-25"><b>2.15. Стороны договора</b> — Администрация сайта и Пользователь.</p>
        <a name="2.16"></a>
        <p class="m-b-25"><b>2.16. Страница пользователя</b> — страница на Сайте с контактной и иной информацией о Пользователе, доступная всем Пользователям Сайта.</p>
        <a name="2.17"></a>
        <p class="m-b-25"><b>2.17. Счет</b> — персональный счет Пользователя в Системе Титимити, который Система автоматически заводит при регистрации Пользователя.</p>
        <a name="2.18"></a>
        <p class="m-b-25"><b>2.18. Услуги</b> – услуги, предоставляемые Администрацией Пользователю после входа в Систему с использованием своей Учетной записи, определяемые в соответствии с положениями настоящего Договора, функциональными и техническими возможностями Сайта.</p>
        <a name="2.19"></a>
        <p class="m-b-25"><b>2.19. Учетные данные Пользователя</b> — уникальное имя Пользователя (логин и пароль для входа на Сайт), указываемые Пользователем при регистрации на Сайте, а также любая информация о Пользователе, размещаемая им на Сайте.</p>

        <a name="3"></a>
        <h2>3. Предмет договора.</h2>
        <a name="3.1"></a>
        <p class="m-b-25"><b>3.1. </b>Администрация предоставляет Пользователю право пользования Сайтом, в том числе:</p>
        <ul class="m-b-25">
            <li>• право чтения информации, размещенной на Сайте в открытом доступе;</li>
            <li>• право на осуществление поиска информации, имеющейся на сайте;</li>
            <li>• право пользования Услугами.</li>
        </ul>
        <p class="m-b-25"><b>3.2. </b>Администрация оказывает Пользователю Услуги путем:</p>
        <ul class="m-b-25">
            <li>• предоставления ресурсов Системы Титимити для размещения Отправителем Заказа на транспортировку Груза и поиска Курьера по его доставке;</li>
            <li>• предоставления ресурсов Системы для размещения Перевозчиком Заявки на доставку конкретного Груза;</li>
            <li>• выполнения взаимных расчетов сторон (перечисление стоимости доставки на Счет Курьера со счета Отправителя при успешном исполнении Заказа, разблокировка средств Курьера (страхового платежа));</li>
            <li>• предоставления доступа к средствам поиска и навигации Сайта;</li>
            <li>• оказания иных услуг (сервисов), реализуемых на страницах Сайта.</li>
        </ul>
        <p>Порядок предоставления Услуг Пользователям Сайта представлен в Приложении 3 к настоящему Договору.</p>
        <br/>
        <p class="m-b-25"><b>3.3. </b>Обязательным условием оказания Услуг в соответствии с Договором является принятие, соблюдение Пользователем и применение к отношениям Сторон требований и положений, определенных настоящим Договором и всеми приложениями к нему.</p>
        <p class="m-b-25"><b>3.4. </b>Администрация оставляет за собой право самостоятельно изменять условия настоящего Договора и всех его неотъемлемых частей без согласования с Пользователем, но с уведомлением последнего посредством размещения на Сайте новой редакции Договора или какой-либо его неотъемлемой части, подвергшейся изменениям. Изменения вступают в силу по истечении 15 (пятнадцати) календарных дней с даты опубликования на Сайте</p>
        <p class="m-b-25"><b>3.5. </b>Пользователь обязуется самостоятельно осуществлять контроль за изменениями в Договоре. При несоблюдении данной обязанности ответственность, а также все негативные последствия возлагаются исключительно на самого Пользователя.</p>
        <p class="m-b-25"><b>3.6. </b>В случае, если Сторона по истечении 15-дневного срока не заявила об отказе принять новую редакцию Договора, либо о желании расторгнуть Договор, либо не удалила свои регистрационные данные, то считается принявшим новую редакцию Договора и полностью согласившейся с ней.</p>
        <p class="m-b-25"><b>3.7. </b>Внесение изменений в Договор не освобождает Сторону от исполнения обязательств, возникших до внесения изменений. Администрация предпримет все необходимые меры с целью своевременного уведомления Сторон о планируемых изменениях.</p>
        <p class="m-b-25"><b>3.8. </b>Администрация не гарантирует, что информация, доступная в определенный момент времени, будет доступна в любой другой момент времени на протяжении всего срока действия Договора.</p>
        <p class="m-b-25"><b>3.9. </b>Принимая условия данного Договора, Пользователь тем самым дает свое согласие на получение от Администрации информационных, рекламных и иных видов рассылок посредством SMS на номер телефона Пользователя, а также на адрес его электронной почты и обязуется не предъявлять Администрации каких-либо претензий и требований, связанных с осуществлением таких рассылок.</p>

        <a name="4"></a>

        <h2>4. Порядок заключения договора.</h2>
        <a name="4.1"></a>
        <p class="m-b-25"><b>4.1. </b>Лицо, прошедшее процедуру регистрации на Сайте, становится Пользователем Сайта. Регистрация Пользователя на Сайте осуществляется путем заполнения регистрационной формы и нажатия кнопки «Зарегистрироваться», размещенной на этой же странице Сайта. Порядок заполнения данных при регистрации и дальнейшей работе на Сайте приведен в Приложении 2 к настоящему Договору.</p>
        <a name="4.2"></a>
        <p><b>4.2. </b>Стороны признают, что совершение лицом указанных в п. 4.1. действий считается необходимым и достаточным для однозначного и бесспорного согласия Пользователя заключить настоящий Договор на условиях, изложенных в настоящей оферте.</p>

        <a name="5"></a>

        <h2>5. Права и обязанности Администрации сайта.</h2>
        <p class="m-b-25"><b>5.1. </b>Администрация сайте обязуется:</p>
        <p class="m-b-25"><b>5.1.1. </b>Предоставить любому дееспособному лицу (юридическому или физическому, в том числе индивидуальному предпринимателю) информационные услуги посредством использования Сайта после регистрации этого лица на Сайте.</p>
        <p class="m-b-25"><b>5.1.2. </b>Не разглашать Учетные данные. Администрация не несет ответственности за их получение третьими лицами не по вине Администрации, в частности, в связи с действиями третьих лиц, в том числе лиц, предоставляющих услуги хостинга для Сайта.</p>
        <p class="m-b-25"><b>5.2. </b>Администрация имеет право:</p>
        <p><b>5.2.1. </b>В случае нарушения Пользователем условий Договора:</p>
        <ul>
            <li>• отказаться от исполнения настоящего Договора;</li>
            <li>• заблокировать доступ Пользователя к Учетным данным Пользователя;</li>
            <li>• аннулировать Личный кабинет и Страницу Пользователя;</li>
            <li>• приостановить оказание Услуг Пользователю на определенный срок;</li>
            <li>• ограничить оказание Пользователю соответствующего вида Услуг на определенный срок или без определения срока;</li>
            <li>• вносить изменения в техническое оснащение и компьютерный код Сайта, а именно устанавливать дополнительные приложения, инструменты и т.д;</li>
            <li>• в любой момент потребовать от Пользователя подтверждения данных, указанных при регистрации, и запросить в связи с этим подтверждающие документы. В случае предоставления Пользователем недостоверной или неполной информации, Администрация вправе применить к такому Пользователю меры, указанные в настоящем Договоре;</li>
            <li>• производить сбор, хранение, систематизацию и использование информации о деятельности Пользователя на Сайте, в частности, статистику посещений Пользователем Сайта, оказанных ему Услуг и т.д.;</li>
            <li>• без согласия Пользователя передавать данные о Пользователе сайта: государственным органам, в т.ч. органам дознания и следствия, и органам местного самоуправления по их мотивированному запросу; на основании судебного акта; третьим лицам и общественным организациям по их мотивированному запросу в случае нарушения или предполагаемого нарушения их прав; рейтинговым агентствам для формирования различных рейтингов; в иных предусмотренных законодательством Российской Федерации случаях.</li>
        </ul>
        <p><b>5.2.2. </b>Производить профилактические работы в программно-аппаратном комплексе Сайта с временным приостановлением работы Сайта (по возможности в ночное время), максимально сокращая время неработоспособности Сайта, уведомив о профилактических работах Пользователя, если это возможно технически.</p>

        <a name="6"></a>
        <h2>6. Права и обязанности Пользователя.</h2>

        <a name="6.1"></a>
        <p><b>6.1. </b>Пользователь обязуется:</p>
        <a name="6.1.1"></a>
        <p class="m-b-25"><b>6.1.1 </b>Соблюдать условия настоящего Договора.</p>
        <a name="6.1.2"></a>
        <p class="m-b-25"><b>6.1.2 </b>Использовать персональные данные, размещенные в базе данных Сайта в соответствии с Федеральным законом от 27 июля 2006 г. №152-ФЗ «О персональных данных» и всеми вносимыми в него изменениями в течение срока действия Договора, а именно:</p>
        <ul class="m-b-25">
            <li>• использовать персональные данные из базы данных Сайта только с целью обеспечения функционирования Сайта и последующего предоставления Услуг Пользователю Администрацией;</li>
            <li>• не передавать сведения о других Пользователях, полученные на Сайте, третьим лицам;</li>
            <li>• в случае если Пользователь сохраняет копии Страниц пользователя из базы данных на бумажных или электронных носителях, то он обязан делать это в соответствии с Федеральным законом №152-ФЗ от 27 июля 2006 г. и всеми вносимыми в него изменениями в течение срока действия Договора, принимая на себя все обязательства оператора в терминах данного закона;</li>
            <li>• в случае нанесения ущерба другим Пользователям, связанного с невыполнением Пользователем требований Федерального закона №152-ФЗ от 27 июля 2006г., ответственность за это полностью лежит на Пользователе.</li>
        </ul>
        <a name="6.1.3"></a>
        <p class="m-b-25"><b>6.1.3 </b>Предоставлять точную, актуальную, полную и соответствующую 	действительности информацию, а также периодически обновлять регистрационные данные и другую информацию, которая была предоставлена при регистрации, чтобы 	обеспечить ее точность, актуальность и полноту.</p>
        <a name="6.1.4"></a>
        <p class="m-b-25"><b>6.1.4. </b>Не передавать свои Учетные данные третьим лицам. При несоблюдении данной обязанности ответственность, а также все негативные последствия возлагаются исключительно на самого Пользователя.</p>
        <a name="6.1.5"></a>
        <p class="m-b-25"><b>6.1.5. </b>Не создавать Клоны на Сайте.</p>
        <a name="6.1.6"></a>
        <p class="m-b-25"><b>6.1.6. </b>Не предпринимать действий, направленных на получение доступа к чужим Учетным данным вопреки воле лиц, которым они принадлежат.</p>
        <a name="6.7"></a>
        <p class="m-b-25"><b>6.1.7. </b>Возместить Администрации все убытки и расходы, которые Администрация понесла вследствие нарушения Пользователем положений настоящего Договора.</p>
        <a name="6.2"></a>
        <p class="m-b-25"><b>6.2. </b>Пользователь имеет право:</p>
        <a name="6.2.1"></a>
        <p class="m-b-25"><b>6.2.1 </b>Использовать для своих, в том числе коммерческих, целей информацию, полученную на Сайте.</p>
        <a name="6.2.2"></a>
        <p class="m-b-25"><b>6.2.2 </b>Пользоваться бесплатными Услугами (сервисом), которые имеются на Сайте.</p>
        <a name="6.2.3"></a>
        <p class="m-b-25"><b>6.2.3 </b>Высказывать свое мнение на форумах Сайта и размещать свою информацию.</p>

        <a name="7"></a>
        <h2>Персональные данные.</h2>

        <a name="7.1"></a>
        <p class="m-b-25"><b>7.1. </b>Настоящим Пользователь подтверждает, что размещая свои персональные данные в разделах «Страница пользователя» и «Личный кабинет», он признает общедоступный характер данной информации и дает свое согласие на то, что соответствующие данные являются общедоступными. Пользователь также путем акцепта настоящего Договора дает согласие на обработку его персональных данных как Администрацией, так и другими Пользователями.</p>
        <a name="7.2"></a>
        <p class="m-b-25"><b>7.2. </b>Учитывая, что персональные данные с согласия Пользователя являются общедоступными, тем не менее, Администрация при обработке персональных данных обязуется принять все организационные и технические меры для их защиты от несанкционированного доступа способом, не предусмотренным Сайтом.</p>
        <a name="7.3"></a>
        <p class="m-b-25"><b>7.3. </b>Администрация не исключает, что в результате сбоя в работе Сайта, вирусной или хакерской атаки, технических неисправностей и иных обстоятельств персональные данные Пользователя могут стать доступными и другим лицам. Настоящим Пользователь соглашается с тем, что не будет предъявлять претензии к Администрации Сайта в связи с этим, учитывая, что он установил в отношении своих персональных данных общедоступный режим.</p>
        <a name="7.4"></a>
        <p class="m-b-25"><b>7.4. </b>В силу настоящего Договора, указывая свои персональные данные на Сайте, Пользователь безусловно соглашается:</p>
        <ul class="m-b-25">
            <li>• с предоставлением персональных данных неограниченному кругу лиц при помощи Сайта;</li>
            <li>• с обработкой персональных данных Администрацией;</li>
            <li>• с использованием персональных данных в рейтинге;</li>
            <li>• с иными действиями Администрации в отношении таких данных в связи с функционированием Сайта.</li>
        </ul>
        <a name="7.5"></a>
        <p class="m-b-25"><b>7.5. </b>Размещая на Сайте свои персональные данные, Пользователь подтверждает, что делает это добровольно, а также подтверждает, что он добровольно предоставляет Администрации свои данные для обработки. Если Пользователь не согласен с вышеуказанными условиями, то он не должен регистрироваться на Сайте или должен немедленно прекратить пользоваться Сайтом.</p>
        <a name="7.6"></a>
        <p class="m-b-25"><b>7.6. </b>Администрация обрабатывает только те персональные данные Пользователя, которые были размещены им на Сайте.</p>
        <a name="7.7"></a>
        <p class="m-b-25"><b>7.7. </b>Обработка Администрацией персональных данных Пользователя осуществляется в целях функционирования Сайта и сама по себе их обработка Сайтом не может повлечь каких-либо негативных последствий для Пользователя. При этом Администрация Сайта не несет ответственности за использование персональных данных Пользователей другими лицами.</p>
        <a name="7.8"></a>
        <p class="m-b-25"><b>7.8. </b> Пользователь обязуется не использовать персональные данные других Пользователей каким-либо образом, не соответствующим требованиям законодательства Российской Федерации, в противоправных или противозаконных целях, в целях извлечения выгоды и любых иных целях, не соответствующих целям создания Сайта.</p>

        <a name="8"></a>
        <h2>8. Интеллектуальная собственность.</h2>

        <a name="8.1"></a>
        <p class="m-b-25"><b>8.1. </b>Дизайн и программный код Сайта, информационное, графическое, аудио-, видео-, фото- и иное наполнение Сайта являются интеллектуальной собственностью Администрации и охраняются в соответствии законодательством Российской Федерации. Никто не имеет права воспроизводить, копировать, модифицировать, рассылать, передавать или распространять каким-либо способом размещенные материалы без разрешения Администрации сайта.</p>
        <a name="8.2"></a>
        <p class="m-b-25"><b>8.2. </b>В случае нарушения Пользователем положений п. 8.1. Договора, Администрация вправе незамедлительно осуществить действия по блокированию Учетных данных и удалению Страницы пользователя и Личного кабинета из базы данных Сайта.</p>

        <a name="9"></a>
        <h2>9. Ответственность сторон.</h2>

        <a name="9.1"></a>
        <p class="m-b-25"><b>9.1. </b>Пользователи несут ответственность в полном объеме за любые действия, связанные с нарушением условий перевозки груза на территории Российской Федерации, при международной перевозке, в т.ч. при международной транзитной перевозке, вне зависимости от вида транспорта, регулируемых отдельными соглашениями перевозки груза, заключаемыми между участниками перевозки, действующим законодательством Российской Федерации, а также общепризнанными принципами и нормами международного права и международными договорами Российской Федерации.</p>
        <a name="9.2"></a>
        <p class="m-b-25"><b>9.2. </b>Пользователь самостоятельно определяет перечень мер для сохранения в тайне своих Учетных данных и обеспечения санкционированного доступа к ним. Администрация не несет ответственности за убытки, причиненные Пользователю в результате разглашения третьим лицам Учетных данных Пользователя, произошедшего не по вине Администрации. Если любое лицо помимо Пользователя авторизуется на Сайте, используя Учетные данные Пользователя, то все действия, совершенные таким лицом, будут считаться совершенными этим Пользователем. Пользователь несет ответственность за все действия, совершенные им на Сайте, а также за все действия, совершенные на Сайте любыми иными лицами с использованием Учетных данных Пользователя.</p>
        <a name="9.3"></a>
        <p class="m-b-25"><b>9.3. </b>Администрация не несет ответственности за убытки, причиненные Пользователю в результате сообщения другим Пользователям недостоверной информации, а также причиненные действиями (бездействием) другого Пользователя. Администрация не гарантирует, что информация, содержащаяся на Странице пользователя, является достоверной и полной, так как вносится самим Пользователем.</p>
        <a name="9.4"></a>
        <p class="m-b-25"><b>9.4. </b>Пользователь несет ответственность в полном объеме за любые действия, вследствие которых Администрации и/или третьим лицам причинен ущерб.</p>
        <a name="9.5"></a>
        <p class="m-b-25"><b>9.5. </b>За нарушение прочих обязательств по Договору Стороны несут ответственность в соответствии с законодательством Российской Федерации. При этом в любом случае ответственность Администрации перед Пользователямии в случае требования возмещения убытков ограничена размером стоимости Груза и/или стоимости перевозки Груза, оплата которых производится Отправителем и Перевозчиком без непосредственного участия Администрации.</p>
        <a name="9.6"></a>
        <p class="m-b-25"><b>9.6. </b>Администрация прилагает все возможные усилия для обеспечения нормальной работоспособности Сайта, однако не несет ответственности за неисполнение или ненадлежащее исполнение обязательств по Договору, а также возможные убытки, возникшие в результате:</p>
        <a name="9.6.1"></a>
        <p class="m-b-25"><b>9.6.1. </b>Неправомерных действий Пользователей, направленных на нарушения информационной безопасности или нормального функционирования Сайта.</p>
        <a name="9.6.2"></a>
        <p class="m-b-25"><b>9.6.2 </b>Сбоев в работе Сайта, вызванных ошибками в коде, компьютерными вирусами и иными посторонними фрагментами кода в программном обеспечении Сайта.</p>
        <a name="9.6.3"></a>
        <p class="m-b-25"><b>9.6.3 </b>Отсутствия (невозможности установления, прекращения и пр.) Интернет-соединений между сервером Пользователя и сервером Сайта.</p>
        <a name="9.6.4"></a>
        <p class="m-b-25"><b>9.6.4 </b>Проведения государственными и муниципальными органами, а также иными организациями мероприятий в рамках системы оперативно-розыскных мероприятий.</p>
        <a name="9.6.5"></a>
        <p class="m-b-25"><b>9.6.5 </b>Установления государственного регулирования (или регулирования иными организациями) хозяйственной деятельности коммерческих организаций в сети Интернет и/или установления указанными субъектами разовых ограничений, затрудняющих или делающих невозможным исполнение Договора.</p>
        <a name="9.6.6"></a>
        <p class="m-b-25"><b>9.6.6 </b>Других случаев, связанных с действиями (бездействием) Пользователей и/или других субъектов, направленными на ухудшение общей ситуации с использованием сети Интернет и/или компьютерного оборудования, существовавшей на момент заключения Договора, а также любых других действий, направленных на Сайт и на третьих лиц.</p>
        <a name="9.6.7"></a>
        <p class="m-b-25"><b>9.6.7 </b>Выполнения работ, связанных с функционированием сайта, в том числе работ, указанных в настоящем Договоре.</p>
        <a name="9.7"></a>
        <p class="m-b-25"><b>9.7 </b>В случае наступления форс-мажорных обстоятельств, а также аварий или сбоев в программно-аппаратных комплексах третьих лиц, сотрудничающих с Администрацией, или действий (бездействия) третьих лиц, направленных на приостановку или прекращение функционирования Сайта, возможна приостановка работы Сайта без предварительного уведомления Пользователей.</p>


        <a name="10"></a>
        <h2>10.  Порядок разрешения споров.</h2>

        <a name="10.1"></a>
        <p class="m-b-25"><b>10.1 </b>В случае возникновения споров между Пользователем и Администрацией по вопросам, связанным с исполнением Договора, Стороны примут все меры для  их разрешения путем переговоров между собой и использования, при необходимости, претензионного порядка.</p>
        <a name="10.2"></a>
        <p class="m-b-25"><b>10.2 </b>Претензии (обращения) Пользователей принимаются и рассматриваются Администрацией в порядке, предусмотренном настоящим Договором (Приложение 4 к настоящему Договору) и законодательством Российской Федерации.</p>
        <a name="10.3"></a>
        <p class="m-b-25"><b>10.3 </b>Настоящий Договор распространяет свое действие на Пользователей, осуществивших регистрацию до даты опубликования настоящего Договора на Сайте. Пользователь обязуется самостоятельно знакомиться с условиями Договора. Если Пользователь не согласен с условиями настоящего Договора, то он должен немедленно отказаться от использования Сайта путем направления Администрации письменного уведомления об отказе от использования Сайта, в противном случае продолжение использования Пользователем Сайта означает согласие с условиями Договора.</p>
        <a name="10.4"></a>
        <p class="m-b-25"><b>10.4 </b>Если возникшие споры и разногласия не будут разрешены путем переговоров, они подлежат разрешению в компетентном суде в соответствии с правилами подсудности, определенными действующим законодательством Российской Федерации.</p>

        <a name="11"></a>
        <h2>11. Заключительные положения.</h2>

        <a name="11.1"></a>
        <p class="m-b-25"><b>11.1 </b>Договор вступает в силу для Пользователей сайта с момента публикации Договора на сайте, а для всех иных лиц, которые на момент публикации настоящего Договора еще не являются Пользователями Сайта, - с момента акцепта настоящей оферты Пользователем.</p>
        <a name="11.2"></a>
        <p class="m-b-25"><b>11.2 </b>Договор заключается на неопределенный срок и действует до момента удаления Учетных данных Пользователя.</p>
        <a name="11.3"></a>
        <p class="m-b-25"><b>11.3 </b>Настоящий Договор распространяет свое действие на Пользователей, осуществивших регистрацию до даты опубликования настоящего Договора на Сайте. Пользователь обязуется самостоятельно знакомиться с условиями Договора. Если Пользователь не согласен с условиями настоящего Договора, то он должен немедленно отказаться от использования Сайта путем направления Администрации письменного уведомления об отказе от использования Сайта, в противном случае продолжение использования Пользователем Сайта означает согласие с условиями Договора.</p>
        <a name="11.4"></a>
        <p class="m-b-25"><b>11.4 </b>Опубликованное в данный момент Договор имеет большую юридическую силу и отменяет действие предыдущих редакций Договора.</p>
        <a name="11.5"></a>
        <p class="m-b-25"><b>11.5 </b>Вопросы, не урегулированные Договором и документами, указанными в Договоре, подлежат разрешению в соответствии с законодательством Российской Федерации.</p>
        <a name="11.6"></a>
        <p class="m-b-25"><b>11.6 </b>Приложения к настоящему Договору являются его составной и неотъемлемой частью.</p>


        <h3>Приложения</h3>
        <ul>
            <li><a href="{{ path('binidini_rules_appendix_1') }}">Приложение 1</a> «Запрещенные к перевозке через Систему Титимити грузы»</li>
            <li><a href="{{ path('binidini_rules_appendix_2') }}">Приложение 2</a> «Правила заполнения учетных данных при регистрации Пользователя и дальнейшей его работе на Странице пользователя»</li>
            <li><a href="{{ path('binidini_rules_appendix_3') }}">Приложение 3 </a> «Порядок предоставления Услуг Администрацией сайта своим Пользователям»</li>
            <li><a href="{{ path('binidini_rules_appendix_4') }}">Приложение 4 </a> «Порядок рассмотрения обращений Пользователей»</li>
        </ul>

</div></div></div></div></div>
{% endblock %}
