{% extends 'BinidiniWebBundle::layout.html.twig' %}

{% block title %}
    Служба доставки для магазинов
{% endblock %}

{% block pageheader %}Служба доставки для магазинов и бизнеса{% endblock %}
{% block breadcrumb %}
    <ol class="breadcrumb">
        <li class="active">
            Решения для интернет-магазинов
        </li>
    </ol>
{% endblock %}
{% block content %}

    <div class="wrapper wrapper-content animated fadeInRight">


        <div class="row">
            <div class="col-md-4">
                <div class="payment-card">
                    <h1 class="text-success"><i class="fa fa-sort-amount-desc payment-icon-big"></i>Перевозчик</h1>
                    <h2>
                        Бесплатно и эффективно
                    </h2>
                    <div class="row">
                        <div class="col-sm-4">
                            <small>
                                <strong>Класс:</strong> Эконом
                            </small>
                        </div>
                        <div class="col-sm-8 text-right">
                            <small>
                                <strong>Сервер tytymyty.ru</strong>
                            </small>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="payment-card">

                    <h1 class="text-warning"><i class="fa fa-sort-numeric-desc payment-icon-big"></i>Перевозчик-2</h1>
                    <h2>
                        Оптимальный
                    </h2>
                    <div class="row">
                        <div class="col-sm-4">
                            <small>
                                <strong>Класс:</strong> Бизнес
                            </small>
                        </div>
                        <div class="col-sm-8 text-right">
                            <small>
                                <strong>Выделенный виртуальный сервер</strong>
                            </small>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="payment-card">
                    <h2 class="text-danger"><i class="fa fa-sort-numeric-desc payment-icon-big"></i>Перевозчик-3</h2>
                    <h2>
                        Безопасный
                    </h2>
                    <div class="row">
                        <div class="col-sm-4">
                            <small>
                                <strong>Класс:</strong> Enterprise
                            </small>
                        </div>
                        <div class="col-sm-8 text-right">
                            <small>
                                <strong>Система доставки на ваших серверах</strong>
                            </small>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <div class="row">

            <div class="col-lg-12">

                <div class="ibox">
                    <div class="ibox-title">
                        Решения для отдела доставки
                    </div>
                    <div class="ibox-content">

                        <div class="panel-group payments-method" id="accordion">
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <div class="pull-right">
                                        <i class="fa fa-sort-numeric-desc text-danger"></i>
                                    </div>
                                    <h5 class="panel-title text-danger">
                                        <a data-toggle="collapse" data-parent="#accordion" href="#transporterThree">Перевозчик-3</a>
                                    </h5>
                                </div>
                                <div id="transporterThree" class="panel-collapse collapse">
                                    <div class="panel-body">
                                        <div class="row">
                                            <div class="col-md-4">
                                                <h2>Enterprise решение</h2>

                                                <table class="table">
                                                    <tr>
                                                        <td>Сервер</td>
                                                        <td>сервер вашей компании</td>
                                                        <td><span class="badge badge-danger"><i class="fa fa-laptop"></i></span></td>
                                                    </tr>
                                                    <tr>
                                                        <td>Домен</td>
                                                        <td><a href="#" title="Титимити - народная доставка">ваша_комания.ru</a></td>
                                                        <td><span class="badge badge-danger"><i class="fa fa-yen"></i></span></td>
                                                    </tr>
                                                    <tr>
                                                        <td>Цена</td>
                                                        <td><span class="text-danger">договорная</span></td>
                                                        <td><span class="badge badge-danger"><i class="fa fa-rub"></i></span></td>
                                                    </tr>
                                                    <tr>
                                                        <td>Android приложение</td>
                                                        <td><a href="https://play.google.com/store/apps/details?id=com.binidini.tytymyty&hl=ru" title="Титимити Mobile">Титимити Android</a></td>
                                                        <td><span class="badge badge-danger"><i class="fa fa-android"></i></span></td>
                                                    </tr>
                                                    <tr>
                                                        <td>Apple iOS приложение</td>
                                                        <td><a href="https://itunes.apple.com/us/app/titimiti/id1037787278?l=ru&ls=1&mt=8" title="Титимити Mobile">Титимити iOS</a></td>
                                                        <td><span class="badge badge-danger"><i class="fa fa-apple"></i></span></td>
                                                    </tr>
                                                </table>

                                                <p class="m-t">
                                                    Вы хотите держать все сервисы на своих серверах? Для вас критичны вопросы контроля и безопасности?
                                                    «Перевозчик-3» - ваше решение.
                                                </p>
                                                <p>
                                                    Наши специалисты детально проконсультируют как работать с системой.
                                                </p>
                                                <p>
                                                    При необходимости наши технические специалисты  будут поддерживать вашу систему доставок или предоставят необходимые консультации.
                                                </p>
                                            </div>
                                            <div class="col-md-8">
                                                <ul class="list-group">
                                                    <li class="list-group-item">
                                                        Техническая поддержка.
                                                        <i class="fa fa-rub text-danger pull-right"></i>
                                                    </li>
                                                    <li class="list-group-item ">
                                                        Безопасность и полный контроль над системой заказов.
                                                        <i class="fa fa-usd text-danger pull-right"></i>
                                                    </li>
                                                    <li class="list-group-item">
                                                        Мгновенные уведомления через пуш и смс сообщения.
                                                        <i class="fa fa-eur text-danger pull-right"></i>
                                                    </li>
                                                    <li class="list-group-item">
                                                        Выделенный менеджер сопровождения.
                                                        <i class="fa fa-gbp text-danger pull-right"></i>
                                                    </li>
                                                    <li class="list-group-item">
                                                        Рейтинги и отзывы для курьеров.
                                                        <i class="fa fa-yen text-danger pull-right"></i>
                                                    </li>
                                                    <li class="list-group-item">
                                                        Система геолакации находит ближайших  курьеров.
                                                        <i class="fa fa-inr text-danger pull-right"></i>
                                                    </li>
                                                    <li class="list-group-item">
                                                        Возможность работать на смартфоне, планшете и ПК для курьеров и диспетчеров.
                                                        <i class="fa fa-try text-danger pull-right"></i>
                                                    </li>
                                                    <li class="list-group-item">
                                                        Рейтинги и отзывы для курьеров.
                                                        <i class="fa fa-btc text-danger pull-right"></i>
                                                    </li>
                                                    <li class="list-group-item">
                                                        Автоматизация ввода заказов через Титимити API.
                                                        <i class="fa fa-try text-danger pull-right"></i>
                                                    </li>
                                                    <li class="list-group-item">
                                                        Механизм поддтверждения доставки через «код подтверждения доставки».
                                                        <i class="fa fa-btc text-danger pull-right"></i>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <div class="pull-right">
                                        <i class="fa fa-sort-numeric-desc text-warning"></i>
                                    </div>
                                    <h5 class="panel-title text-warning">
                                        <a data-toggle="collapse" data-parent="#accordion" href="#transporterTwo">Перевозчик-2</a>
                                    </h5>
                                </div>
                                <div id="transporterTwo" class="panel-collapse collapse">
                                    <div class="panel-body">
                                        <div class="row">
                                            <div class="col-md-4">
                                                <h2>Оптимальное решение для бизнеса</h2>

                                                <table class="table">
                                                    <tr>
                                                        <td>Сервер</td>
                                                        <td>выделенный виртуальный сервер</td>
                                                        <td><span class="badge badge-warning"><i class="fa fa-laptop"></i></span></td>
                                                    </tr>
                                                    <tr>
                                                        <td>Домен</td>
                                                        <td><a href="#" title="Титимити - народная доставка">ваша_комания.tytymyty.ru</a></td>
                                                        <td><span class="badge badge-warning"><i class="fa fa-yen"></i></span></td>
                                                    </tr>
                                                    <tr>
                                                        <td>Цена</td>
                                                        <td><span class="text-warning"><b>1 руб. за заказ</b></span></td>
                                                        <td><span class="badge badge-warning"><i class="fa fa-rub"></i></span></td>
                                                    </tr>
                                                    <tr>
                                                        <td>Android приложение</td>
                                                        <td><a href="https://play.google.com/store/apps/details?id=com.binidini.tytymyty&hl=ru" title="Титимити Mobile">Титимити Android</a></td>
                                                        <td><span class="badge badge-warning"><i class="fa fa-android"></i></span></td>
                                                    </tr>
                                                    <tr>
                                                        <td>Apple iOS приложение</td>
                                                        <td><a href="https://itunes.apple.com/us/app/titimiti/id1037787278?l=ru&ls=1&mt=8" title="Титимити Mobile">Титимити iOS</a></td>
                                                        <td><span class="badge badge-warning"><i class="fa fa-apple"></i></span></td>
                                                    </tr>
                                                </table>

                                                <p class="m-t">
                                                    Вам нужен сервис доставки только для своих курьеров и своих диспетчеров? Тогда пакет
                                                    «Перевозчик-2» для вас.
                                                </p>
                                                <p>
                                                    Вы получаете дополнительную профессиональную тех. поддержку специалистов из компании Титимити.
                                                    Вы можете быть спокойными, что сервис будет доступен 24/7 и у вас не будет проблем с производительностью.
                                                </p>
                                                <p>
                                                    Если вам важно иметь систему доставок на ваших серверах, воспользуйтесь пакетом «Перевозчик-3»
                                                </p>
                                            </div>
                                            <div class="col-md-8">
                                                <ul class="list-group">
                                                    <li class="list-group-item">
                                                        1 руб. за заказ!
                                                        <i class="fa fa-rub text-warning pull-right"></i>
                                                    </li>
                                                    <li class="list-group-item ">
                                                        Возможность страхования заказа от порчи и утраты.
                                                        <i class="fa fa-usd text-warning pull-right"></i>
                                                    </li>
                                                    <li class="list-group-item">
                                                        Мгновенные уведомления через пуш и смс сообщения.
                                                        <i class="fa fa-eur text-warning pull-right"></i>
                                                    </li>
                                                    <li class="list-group-item">
                                                        Выделенный менеджер сопровождения.
                                                        <i class="fa fa-gbp text-warning pull-right"></i>
                                                    </li>
                                                    <li class="list-group-item">
                                                        Рейтинги и отзывы для курьеров.
                                                        <i class="fa fa-yen text-warning pull-right"></i>
                                                    </li>
                                                    <li class="list-group-item">
                                                        Система геолакации находит ближайших  курьеров.
                                                        <i class="fa fa-inr text-warning pull-right"></i>
                                                    </li>
                                                    <li class="list-group-item">
                                                        Возможность работать на смартфоне, планшете и ПК для курьеров и диспетчеров.
                                                        <i class="fa fa-try text-warning pull-right"></i>
                                                    </li>
                                                    <li class="list-group-item">
                                                        Рейтинги и отзывы для курьеров.
                                                        <i class="fa fa-btc text-warning pull-right"></i>
                                                    </li>
                                                    <li class="list-group-item">
                                                        Автоматизация ввода заказов через Титимити API.
                                                        <i class="fa fa-try text-warning pull-right"></i>
                                                    </li>
                                                    <li class="list-group-item">
                                                        Механизм поддтверждения доставки через «код подтверждения доставки».
                                                        <i class="fa fa-btc text-warning pull-right"></i>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <div class="pull-right">
                                        <i class="fa fa-sort-amount-desc text-success"></i>
                                    </div>
                                    <h5 class="panel-title text-success">
                                        <a data-toggle="collapse" data-parent="#accordion" href="#transporter">Перевозчик</a>
                                    </h5>
                                </div>
                                <div id="transporter" class="panel-collapse collapse in">
                                    <div class="panel-body">
                                        <div class="row">
                                            <div class="col-md-4">
                                                <h2>Бесплатное и эффективное решение</h2>

                                                <table class="table">
                                                    <tr>
                                                        <td>Сайт</td>
                                                        <td><a href="http://tytymyty.ru" title="Титимити - народная доставка">tytymyty.ru</a></td>
                                                        <td><span class="badge badge-primary"><i class="fa fa-yen"></i></span></td>
                                                    </tr>
                                                    <tr>
                                                        <td>Цена</td>
                                                        <td><span class="text-navy">0</span></td>
                                                        <td><span class="badge badge-primary"><i class="fa fa-rub"></i></span></td>
                                                    </tr>
                                                    <tr>
                                                        <td>Android приложение</td>
                                                        <td><a href="https://play.google.com/store/apps/details?id=com.binidini.tytymyty&hl=ru" title="Титимити Mobile">Титимити Android</a></td>
                                                        <td><span class="badge badge-primary"><i class="fa fa-android"></i></span></td>
                                                    </tr>
                                                    <tr>
                                                        <td>Apple iOS приложение</td>
                                                        <td><a href="https://itunes.apple.com/us/app/titimiti/id1037787278?l=ru&ls=1&mt=8" title="Титимити Mobile">Титимити iOS</a></td>
                                                        <td><span class="badge badge-primary"><i class="fa fa-apple"></i></span></td>
                                                    </tr>
                                                </table>

                                                <p class="m-t">
                                                    Начните использовать сервис Титимити для доставки своих заказов. Воспользуйтесь функциональностью сайта и
                                                    мобильных приложений. Работайте со своими курьерами или нанимайте свободных курьеров.
                                                    Титимити - отличный инструмент в умелых руках.
                                                </p>
                                                <p>
                                                    Если вы хотите иметь выделенный сервис только для своих курьеров и диспетчеров,
                                                    воспользуйтесь пакетом «Перевозчик-2».
                                                </p>
                                                <p>
                                                    Если вам важно иметь систему доставок на ваших серверах, воспользуйтесь пакетом «Перевозчик-3»
                                                </p>
                                            </div>
                                            <div class="col-md-8">

                                                <ul class="list-group">
                                                    <li class="list-group-item">
                                                        Нет никаких комиссионных.
                                                        <i class="fa fa-rub text-success pull-right"></i>
                                                    </li>
                                                    <li class="list-group-item ">
                                                        Возможность страхования заказа от порчи и утраты.
                                                        <i class="fa fa-usd text-success pull-right"></i>
                                                    </li>
                                                    <li class="list-group-item">
                                                        Мгновенные уведомления через пуш и смс сообщения.
                                                        <i class="fa fa-eur text-success pull-right"></i>
                                                    </li>
                                                    <li class="list-group-item">
                                                        Никаких тарифов. Устанавливайте свою цену на доставку.
                                                        <i class="fa fa-gbp text-success pull-right"></i>
                                                    </li>
                                                    <li class="list-group-item">
                                                        Рейтинги и отзывы для курьеров.
                                                        <i class="fa fa-yen text-success pull-right"></i>
                                                    </li>
                                                    <li class="list-group-item">
                                                        Система геолакации находит ближайших  курьеров.
                                                        <i class="fa fa-inr text-success pull-right"></i>
                                                    </li>
                                                    <li class="list-group-item">
                                                        Возможность работать на смартфоне, планшете и ПК для курьеров и диспетчеров.
                                                        <i class="fa fa-try text-success pull-right"></i>
                                                    </li>
                                                    <li class="list-group-item">
                                                        Рейтинги и отзывы для курьеров.
                                                        <i class="fa fa-btc text-success pull-right"></i>
                                                    </li>
                                                    <li class="list-group-item">
                                                        Автоматизация ввода заказов через Титимити API.
                                                        <i class="fa fa-try text-success pull-right"></i>
                                                    </li>
                                                    <li class="list-group-item">
                                                        Механизм поддтверждения доставки через «код подтверждения доставки».
                                                        <i class="fa fa-btc text-success pull-right"></i>
                                                    </li>
                                                </ul>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>

                    </div>

                </div>

            </div>

        </div>

    </div>

{% endblock %}