{% extends 'BinidiniWebBundle::layout.html.twig' %}

{% block title %}
    Титимити для курьеров и перевозчиков
{% endblock %}

{% block breadcrumb %}
    <ol class="breadcrumb">
        <li>
            Титимити(деньги) по пути
        </li>
    </ol>
{% endblock %}

{% block pageheader %}Перевозчикам и курьерам{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-lg-12">
            <div class="wrapper wrapper-content animated fadeInUp">
                <ul class="notes">
                    <li>
                        <div>
                            <small>#тити_мити_по_пути</small>
                            <h4>Деньги по пути</h4>
                            <p>
                                Зарабатывает по пути домой, на работу и дачу.
                                Захватите заказ, если вы отправились в другой город или отправились в путешествие в другую страну.
                            </p>
                            <a href="#"><i class="fa fa-trash-o "></i></a>
                        </div>
                    </li>
                    <li>
                        <div>
                            <small>#титимити_свободный_график</small>
                            <h4>Свободный график</h4>
                            <p>
                                Управляйте своим временем.
                                Только вы решаете наиболее эфективный график работы для себя.
                            </p>
                            <a href="#"><i class="fa fa-trash-o "></i></a>
                        </div>
                    </li>
                    <li>
                        <div>
                            <small>#титимити_mobile</small>
                            <h4>Мобильные приложения</h4>
                            <p>
                                Используйте смартфон или планшет для работы с Титимити.
                                Используйте любимый гаджет, чтобы сделать жизнь комфортней.
                            </p>
                            <a href="#"><i class="fa fa-trash-o "></i></a>
                        </div>
                    </li>
                    <li>
                        <div>
                            <small>#титимити_оповещения</small>
                            <h4>Пуш уведомления</h4>
                            <p>
                                Это бесплатные сообщения, которые система Титимити посылает на мобильное приложения.
                                Вы сможете отслеживать заказ, общаться с отправителем и узнавать информацию о новых заказах.
                            </p>
                            <a href="#"><i class="fa fa-trash-o "></i></a>
                        </div>
                    </li>
                    <li>
                        <div>
                            <small>#гарантии_титимити</small>
                            <h4>Гарантия оплаты</h4>
                            <p>
                                Выбирайте заказы с гарантией оплаты, если сомневаете в оплате доставки.
                                Титимити гарантирует оплату таких заказов.
                            </p>
                            <a href="#"><i class="fa fa-trash-o "></i></a>
                        </div>
                    </li>
                    <li>
                        <div>
                            <small>#справедливая_цена</small>
                            <h4>Возможность торга</h4>
                            <p>
                                Вам не обязательно соглашаться с ценой отправителя.
                                Назначьте свою цену доставки.
                            </p>
                            <a href="#"><i class="fa fa-trash-o "></i></a>
                        </div>
                    </li>
                    <li>
                        <div>
                            <small>#никаких_посредников</small>
                            <h4>Нет комиссионных</h4>
                            <p>
                                Титимити бесплатный сервис. О чем договоритесь с отправителем, то и получите.
                            </p>
                            <a href="#"><i class="fa fa-trash-o "></i></a>
                        </div>
                    </li>
                    <li>
                        <div>
                            <small>#титимити_расписка</small>
                            <h4>Никакой бюрократии</h4>
                            <p>
                                Внимательно прочитайте правила Титимити и
                                просто договоритесь с отправителем об условиях заказа.
                                Возможно вас попросят заполнить расписку.
                            </p>
                            <a href="#"><i class="fa fa-trash-o "></i></a>
                        </div>
                    </li>
                    <li>
                        <div>
                            <small>#у_нас_на_районе</small>
                            <h4>Заказы "на районе"</h4>
                            <p>
                                Потап и Настя Каменских: На районе (На раёне) тоже есть тити мити.
                            </p>
                            <p>
                                Здесь чайная пауза.
                            </p>
                            <a href="#"><i class="fa fa-trash-o "></i></a>
                        </div>
                    </li>
                    <li>
                        <div>
                            <small>#быстрая_регистрация</small>
                            <h4>Регистрация за 5 сек</h4>
                            <p>
                                Просто введите свой номер телефона и вы уже "в игре".
                                Пароль вам будет выслан по sms.
                            </p>
                            <a href="#"><i class="fa fa-trash-o "></i></a>
                        </div>
                    </li>

                    <li>
                        <div class="red">
                            <small>#титимити_рейтинг</small>
                            <h4>Отзывы и рейтинг</h4>
                            <p>
                                После выполнения заказа попросите отправителя написать отзыв.
                                С хорошим рейтингом и отзывами вам будет проще получить новый заказ.
                            </p>
                            <a href="#"><i class="fa fa-trash-o "></i></a>
                        </div>
                    </li>
                    <li>
                        <div>
                            <small>#титимити_профиль</small>
                            <h4>Заполняйте профиль</h4>
                            <p>
                                Заполните город, район, вставьте ваше фото и напишите 2 предложения о себе.
                                Отправителю будет легче доверить вам свой заказ.
                            </p>
                            <a href="#"><i class="fa fa-trash-o "></i></a>
                        </div>
                    </li>
                    <li>
                        <div  class="red">
                            <small>#будьте_вовремя</small>
                            <h4>Пунктуальность</h4>
                            <p>Договоритесь о времени и будьте вовремя.
                                Если форс-мажор, позвоните и предупредите отправителя.</p>
                            <a href="#"><i class="fa fa-trash-o "></i></a>
                        </div>
                    </li>
                    <li>
                        <div  class="red">
                            <small>#вежливые_перевозчики</small>
                            <h4>Будьте вежливы</h4>
                            <p>В стране с вежливым президентом должны быть и вежливые перевозчики.</p>
                            <a href="#"><i class="fa fa-trash-o "></i></a>
                        </div>
                    </li>
                    <li>
                        <div>
                            <small>#бди</small>
                            <h4>Внимательность</h4>
                            <p>
                                Ознакомьтесь в правилах со списком запрещенных к перевозке товаров.
                                Всегда проверяйте, что везете.
                            </p>
                            <a href="#"><i class="fa fa-trash-o "></i></a>
                        </div>
                    </li>
                    <li>
                        <div class="red">
                            <small>#утром_деньги_вечером_стулья</small>
                            <h4>Договоритесь об оплате</h4>
                            <p>Перед выполнением заказа, обговорите все вопросы, в том числе вопрос оплаты.</p>
                            <a href="#"><i class="fa fa-trash-o "></i></a>
                        </div>
                    </li>
                    <li>
                        <div class="red">
                            <small>#делайте_хорошо_свое_дело</small>
                            <h4>Просто хорошо выполняйте свою работу</h4>
                            <p>
                                Можно давать еще много советов, но все они сводятся к одному.
                                Делайте хорошо свое дело!
                            </p>
                            <a href="#"><i class="fa fa-trash-o "></i></a>
                        </div>
                    </li>
                    <li>
                        <div>
                            <small>#титимити_uber_gett</small>
                            <h4>Титимити - это Uber?</h4>
                            <p>
                                Также как Uber, Gett и  Яндекс такси, мы делаем революции только в сфере доставки.
                            </p>
                            <p>
                                Присоединяйтесь к нам!
                            </p>
                            <a href="#"><i class="fa fa-trash-o "></i></a>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>

{% endblock %}


{% block javascripts %}
    {{ parent() }}

    <script>
        $("i.fa-trash-o").click(function() {
            $(this).parent().parent().remove();
            return false;
        });
    </script>

{% endblock %}